<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Giới thiệu</title>
</head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="./css/dashboard.css">
<body>
	<div th:replace="/instruct/menu_instruct.html"></div>
	<div class="col-lg-7">
		<div class="container">
			<p class="fw-bold fs-4" id="1">Giới thiệu CLAZ Shop</p>
			<p>Chuyên bán các sản phẩm về Game bản quyền, Phần mềm, Tiện ích
				uy tín hàng đầu Việt Nam.</p>
			<Strong>CLAZ Shop có mục tiêu đơn giản như sau:</Strong>
			<p>
				<span class="text-secondary">1.</span> <span class="ms-2">Tốc
					độ nhanh</span>
			</p>
			<p>
				<span class="text-secondary">2.</span> <span class="ms-2">Bảo
					hành - Uy tín</span>
			</p>
			<p>
				<span class="text-secondary">3.</span> <span class="ms-2">Chất
					lượng dịch vụ</span>
			</p>
			<p class="fw-bold fs-4" id="2">Văn phòng CLAZ Shop</p>
			<div class="row">
				<div class="col-md-4 col-4 ">
					<img src="/images/controller7.webp" class="img-fluid rounded"
						alt="...">
					<p class="text-center text-secondary">Khu vực sảnh</p>
				</div>
				<div class="col-md-4 col-4 ">
					<img src="/images/controller8.webp" class="img-fluid rounded"
						alt="...">
					<p class="text-center text-secondary">Khu vực không gian chung</p>
				</div>
				<div class="col-md-4 col-4 ">
					<img src="/images/controller9.webp" class="img-fluid rounded"
						alt="...">
					<p class="text-center text-secondary">Khu vực giải trí</p>
				</div>
				<div class="col-md-4 col-4 ">
					<img src="/images/controller10.avif" class="img-fluid rounded"
						alt="...">
					<p class="text-center text-secondary">Phòng bán hàng</p>
				</div>
				<div class="col-md-4 col-4 ">
					<img src="/images/controller11.webp" class="img-fluid rounded"
						alt="...">
					<p class="text-center text-secondary">Bộ phận CSKH</p>
				</div>
				<div class="col-md-4 col-4 ">
					<img src="/images/controller12.webp" class="img-fluid rounded"
						alt="...">
					<p class="text-center text-secondary">Không gian làm việc</p>
				</div>

				<div class="col-md-4 col-4 ">
					<img src="/images/controller13.avif" class="img-fluid rounded"
						alt="...">
					<p class="text-center text-secondary">Phòng HCNS</p>
				</div>
				<div class="col-md-4 col-4 ">
					<img src="/images/controller14.avif" class="img-fluid rounded"
						alt="...">
					<p class="text-center text-secondary">Thư viện sách</p>
				</div>
				<div class="col-md-4 col-4 ">
					<img src="/images/controller15.avif" class="img-fluid rounded"
						alt="...">
					<p class="text-center text-secondary">Khu vực trò chuyện</p>
				</div>
			</div>
			<p class="fw-bold fs-4">Vì sao các khách hàng thường chọn CLAZ?</p>
			<p class="fw-bold fs-4" id="3">1. Uy tín 9 năm hoạt động</p>
			<p>CLAZ Shop là một tên tuổi lâu đời trong tại thị trường Việt
				Nam, được khẳng định thông qua hơn 1 triệu khách hàng.</p>
			<div class="bg-success p-1 text-dark bg-opacity-25 rounded mt-3">
				<div class="container">
					<i class="bi bi-check-circle mt-3"></i>
					<p class="ms-4 fw-bold">9 Năm liền là Shop phần mềm bản quyền
						uy tín nhất Việt Nam</p>
					<p class="ms-4">Do chính cộng đồng bình chọn.</p>
				</div>
			</div>
			<div class="bg-success p-1 text-dark bg-opacity-25 rounded mt-3">
				<div class="container">
					<i class="bi bi-check-circle mt-3"></i>
					<p class="ms-4 fw-bold">Hơn 1 Triệu Khách hàng tin tưởng và mua
						hàng</p>
					<p class="ms-4">
						Đã có hơn 1 Triệu khách hàng tại Việt Nam trong suốt 9 năm hoạt
						động. <span style="display: block;">Hàng tháng website CLAZ
							chào đón hơn 400.000 lượt truy cập mua hàng.</span>
					</p>
				</div>
			</div>
			<div class="bg-success p-1 text-dark bg-opacity-25 rounded mt-3">
				<div class="container">
					<i class="bi bi-check-circle mt-3"></i>
					<p class="ms-4 fw-bold">Được các Kols, Streamer hàng đầu Việt
						Nam lựa chọn và quảng bá</p>
					<p class="ms-4">Mixigaming, Xemesis, Trực Tiếp Game, Nguyễn Quí
						Gamer, Divine Esports, v.v.</p>
				</div>
			</div>
			<p class="fw-bold fs-4 mt-3" id="4">2. Sản phẩm đa dạng</p>
			<p>Với hàng chục nghìn sản phẩm trên Website Clazshop.vn chúng
				tôi tự tin mang đến cho bạn tất cả những gì bạn cần trong thế giới
				bản quyền.</p>
			<div class="bg-primary p-1 text-dark bg-opacity-25 rounded mt-3">
				<div class="container">
					<i class="bi bi-exclamation-circle mt-3"></i>
					<p class="ms-4 fw-bold">Các phần mềm tiện ích</p>
					<p class="ms-4">Window, Office, Adobe, AutoDesk, Freepik,
						Canva, ChatGPT, v.v.</p>
				</div>
			</div>

			<div class="bg-primary p-1 text-dark bg-opacity-25 rounded mt-3">
				<div class="container">
					<i class="bi bi-exclamation-circle mt-3"></i>
					<p class="ms-4 fw-bold">Các phần mềm tiện ích</p>
					<p class="ms-4">Window, Office, Adobe, AutoDesk, Freepik,
						Canva, ChatGPT, v.v.</p>
				</div>
			</div>

			<div class="bg-primary p-1 text-dark bg-opacity-25 rounded mt-3">
				<div class="container">
					<i class="bi bi-exclamation-circle mt-3"></i>
					<p class="ms-4 fw-bold">Các phần mềm tiện ích</p>
					<p class="ms-4">Window, Office, Adobe, AutoDesk, Freepik,
						Canva, ChatGPT, v.v.</p>
				</div>
			</div>

			<p class="fw-bold fs-4 mt-3" id="5">3. Hình thức thanh toán thuận
				tiện</p>
			<div class="bg-primary p-1 text-dark bg-opacity-25 rounded mt-3">
				<div class="container">
					<i class="bi bi-exclamation-circle mt-3"></i>
					<p class="ms-4 fw-bold">Đa dạng hình thức thanh toán giúp khách
						hàng dễ dàng lựa chọn.</p>
					<p class="ms-4">
					<ul class="ms-2">
						<li class="text-secondary"><span class="text-black">Momo</span></li>
						<li class="text-secondary"><span class="text-black">VNPay</span></li>
						<li class="text-secondary"><span class="text-black">Chuyển
								khoản ngân hàng</span></li>
						<li class="text-secondary"><span class="text-black">ATM</span></li>
						<li class="text-secondary"><span class="text-black">Thẻ
								Viettel</span></li>
						<li class="text-secondary"><span class="text-black">Megapay</span></li>
						<li class="text-secondary"><span class="text-black">Visa,
								Master</span></li>
					</ul>
				</div>
			</div>
			<div class="bg-primary p-1 text-dark bg-opacity-25 rounded mt-3">
				<div class="container">
					<i class="bi bi-exclamation-circle mt-3"></i>
					<p class="ms-4 fw-bold">Hệ thống tự động giúp hoàn thành đơn
						hàng ngay lập tức</p>
					<p class="ms-4">Mọi quy trình thanh toán đều được tự động cao
						giúp khách hàng có thể hoàn thành đơn hàng chỉ trong 1 giây - Ngay
						lập tức.</p>
				</div>
			</div>
			<p class="fw-bold fs-4 mt-3" id="6">4. Chế độ bảo hành và hỗ trợ.</p>
			<div class="bg-success p-1 text-dark bg-opacity-25 rounded mt-3">
				<div class="container">
					<i class="bi bi-check-circle mt-3"></i>
					<p class="ms-4 fw-bold">Cam kết bảo hành</p>
					<p class="ms-4">
						Cam kết bảo hành Thông tin bảo hành từng sản phẩm đều được ghi chi
						tiết theo từng loại sản phẩm.<span style="display: block;">Trong
							suốt thời gian sử dụng sản phẩm. Bạn sẽ nhận được sự hỗ trợ từ
							đội ngũ tư vấn của chúng tôi <Strong>hoàn toàn miễn phí</Strong>.
						</span>
					</p>
				</div>
			</div>

			<div class="bg-success p-1 text-dark bg-opacity-25 rounded mt-3">
				<div class="container">
					<i class="bi bi-check-circle mt-3"></i>
					<p class="ms-4 fw-bold">Hỗ trợ tất cả các ngày trong năm</p>
					<p class="ms-4">
						Chúng tôi Online liên tục từ <Strong>08:30</Strong> đến <Strong>23:00</Strong>,
						tất cả các ngày trong năm kể cả lễ, Tết.<span
							style="display: block;">Chúng tôi tự hào với thời gian
							phản hồi khách hàng trung bình là <Strong>1 Phút</Strong>.
						</span>
					</p>
				</div>
			</div>

			<div class="bg-success p-1 text-dark bg-opacity-25 rounded mt-3">
				<div class="container">
					<i class="bi bi-check-circle mt-3"></i>
					<p class="ms-4 fw-bold">Đội ngũ tư vấn nhiều kinh nghiệm</p>
					<p class="ms-4">
						Đội ngũ tư vấn với nhiều năm kinh nghiệm sẽ giải đáp cho bạn tất
						cả các thắc mắc trong quá trình mua hàng và cài đặt sản phẩm. <span
							style="display: block;">Với những trường hợp khó xử lý.
							Chúng tôi sẽ Teamview trực tiếp để cài đặt giúp bạn. </span>
					</p>
				</div>
			</div>
			<p class="fw-bold fs-4 mt-3">5. Giá cả và ưu đãi</p>
			<p>Chúng tôi đem đến cho khách hàng những sản phẩm với giá cả tốt
				nhất cùng với đó là những ưu đãi vô cùng hấp dẫn.</p>
			<div class="bg-success p-1 text-dark bg-opacity-25 rounded mt-3">
				<div class="container">
					<i class="bi bi-check-circle mt-3"></i>
					<p class="ms-4 fw-bold">Hệ thống khách hàng VIP</p>
					<p class="ms-4 ">
						- Hoàn tiền sau khi mua hàng<span style="display: block;">-
							Ưu tiên thanh toán</span> <span style="display: block;"> Xem thêm
							chi tiết tại: <a href="#" class="text-success">Thông tin ưu
								đãi vip</a>
						</span>
					</p>
				</div>
			</div>
			<p class="fw-bold fs-4">Các thông tin liên hệ với CLAZ Shop</p>
			<p>
				Email: hotro@divineshop.vn <span style="display: block;">Tổng
					đài tự động: 1900 633 305</span> <span style="display: block;">Kênh
					chat: <a href="#">CLAZ Shop</a>
				</span> <span style="display: block;">Fanpage: <a href="#">CLAZ
						Shop - Game Bản quyền</a></span>
			</p>
			<nav aria-label="Page navigation example ">
				<ul class="pagination d-flex justify-content-between">
					<li class="page-item w-100"><a
						class="page-link btn btn-primary w-100 rounded p-3 me-3 mt-5">Previous</a>
					</li>
					<li class=" ms-3 page-item w-100"><a
						class="page-link btn btn-primary w-100 rounded p-3 mt-5" href="#">Next
					</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="col-lg-2 d-none d-lg-block border-start fixed-sidebar"
		style="border-color: black; border-width: 2px; max-height: 370px">
		<div style="font-size: 14px;">
			<a href="#1" class="step-link">Giới thiệu CLAZ Shop</a> <a href="#2"
				class="step-link">Văn phòng CLAZ Shop</a> <a href="#3"
				class="step-link active-step">1. Uy tín 9 năm hoạt động</a> <a
				href="#4" class="step-link">2. Sản phẩm đa dạng</a> <a href="#5"
				class="step-link">3. Hình thức thanh toán thuận tiện</a> <a
				href="#6" class="step-link">4. Chế độ bảo hành và hỗ trợ.</a> <a
				href="#7" class="step-link">5. Giá cả và ưu đãi</a> <a href="#8"
				class="step-link">Các thông tin liên hệ với CLAZ Shop</a>
		</div>
	</div>

</body>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

</html>