<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lý do mua game chính hãng</title>
</head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="./css/dashboard.css">
<body>
	<div th:replace="/instruct/menu_instruct.html"></div>
	<div class="col-lg-7">
		<div class="container">
			<p class="fs-4 fw-bold">Lý do nên mua game bản quyền</p>
			<p class="fw-bold">Chơi game mà không cần bỏ tiền bản quyền ra
				đúng là lợi thật đấy, tuy nhiên bạn sẽ chẳng thể nào có được trải
				nghiệm tốt như những người đã bỏ tiền ra mua game đâu.</p>
			<p>Số liệu thực tế đã thống kê rằng Việt Nam luôn nằm trong top
				10 nước đứng đầu thế giới về tỉ lệ sử dụng phần mềm lậu. Từ lâu game
				thủ Việt Nam đã quen với việc chơi game crack, đến nỗi mỗi khi muốn
				trải nghiệm một tựa game mới ra, hầu hết chúng ta thường tìm kiếm
				bản crack trên Google đầu tiên chứ không phải là tìm mua nó trên
				steam hay những nền tảng phát hành khác.</p>
			<p>Rõ ràng việc chơi được những tựa game bom tấn mà không phải
				tốn một đồng xu nào là rất hấp dẫn, nhưng chắc chắn rằng những bản
				crack sẽ không thể nào đem lại trải nghiệm tốt như game bản quyền
				được. Sau đây là những lý do mà bạn sẽ nên cân nhắc để quyết định
				xem liệu có nên mua game bản quyền hay không.</p>
			<p class="fs-4 fw-bold" id="1">Được Update tự động và sớm nhất</p>
			<p>Khi mua game bản quyền bạn sẽ luôn nhận được những bản update
				mới nhất từ nhà phát hành. Và mọi thao tác update đều hoàn toàn tự
				động bạn gần như không cần phải thao tác gì.</p>
			<p>So với các bản crack, tùy từng nhóm crack mà thời gian từ lúc
				nhận update từ nhà phát hành đến khi có bản crack có thể lên tới vài
				ngày đến vài tuần. Thậm chí sẽ không có bản update.</p>
			<p>Việc bạn được Update liên tục những tính năng và cốt truyện
				mới nhất sẽ giúp cho bạn không còn lo tình trạng bị Spoil trước nội
				dung cũng như phải chờ đợi mòn mỏi.</p>
			<img src="/images/controll1.png" class="img-fluid rounded" alt="...">
			<p class="text-center text-secondary">Game sẽ luôn được update
				nhanh và mới nhất</p>
			<p class="fs-4 fw-bold" id="2">Được chơi Online và Multi-Player</p>
			<p>Với xu hướng hiện nay rất nhiều game cần phải kết nối Online
				và chơi cùng bạn bè như các tựa game: PlayerUnknown's Battlegrounds,
				Counter-Strike: Global Offensive, Overwatch, Call Of Duty, ....</p>
			<img src="/images/controller2.avif" class="img-fluid rounded"
				alt="...">
			<p class="text-center text-secondary">Những tựa game như PUBG bắt
				buộc người chơi phải Online</p>
			<p>Bạn gần như sẽ không thể thấy tính năng chơi Online trên các
				bản Crack. Mà nếu không có tính năng chơi online thì bạn gần như đã
				mất đi 50% trải nghiệm của game rồi. Bản Crack bạn chỉ có thể chơi
				được với các con Bot chán òm mà thôi.</p>
			<p class="fs-4 fw-bold" id="3">Cài đặt đơn giản và được hỗ trợ từ
				nhà phát hành</p>
			<p>Các thao tác cài game crack thường rất phức tạp và rất dễ gặp
				lỗi trong quá trình cài đặt.</p>
			<p>Với các game bản quyền hiện nay hầu như đều được phát hành
				trên các nền tảng lớn như: Steam, Battle.net, Origin.</p>
			<p>Công việc cài đặt của bạn chỉ còn gói gọn lại 1 nút là
				"Download" sau đó là "Play" . Siêu đơn giản =))</p>
			<p>Ngoài ra nếu trong trường hợp chơi game gặp lỗi bạn hoàn toàn
				có thể liên hệ trực tiếp với nhà phát hành để được hỗ trợ.</p>
			<p>Điều này sẽ không bao giờ xảy ra với game Crack.</p>
			<p class="fs-4 fw-bold" id="4">An toàn và bảo mật</p>
			<p>Bạn có bao giờ tự hỏi tại sao người ta lại bỏ thời gian công
				sức ra để crack game sau đó đăng miễn phí trên mạng không?</p>
			<p>Phải biết rằng công việc crack đòi hỏi một trình độ hacker rất
				cao và tốn nhiều công sức.</p>
			<img src="/images/controller3.png" class="img-fluid rounded"
				alt="...">
			<p class="text-center text-secondary">Các phần mềm crack thường
				bị cài thêm mã độc</p>
			<p class="fw-bold">Câu trả lời rất đơn giản</p>
			<p>Bởi vì đa số các phần mềm và game crack đều sẽ chứa các phần
				mềm độc hại như: Trojan, Đào Bitcoin, Đánh cắp dữ liệu, Virut.</p>
			<p>Khi sử dụng game bản quyền thì bạn sẽ tránh được hoàn toàn các
				vấn đề mất an toàn này. Mọi phần mềm đều được Download trực tiếp từ
				nhà phát hành nên sẽ không có chuyện bị cài thêm Virut hay mã độc.</p>
			<p class="fs-4 fw-bold" id="5">Được thêm game vào tài khoản để có
				thể sử dụng ở nhiều máy</p>
			<p>Đa số hiện nay khi mua game bạn sẽ được gắn game đó vào tài
				khoản của mình.</p>
			<p>Khi game đã ở trong tài khoản của bạn như: Steam, Battle.net,
				Origin, bạn chỉ cần đăng nhập ở bất cứ máy nào là đều có thể tải và
				chơi được game đó.</p>
			<p>Không những thế các nền tảng này còn hỗ trợ bạn đồng bộ giữa
				tất cả các máy bạn chơi để trải nghiệm của bạn được liên mạch nhất.
			</p>
			<p>Ví dụ: Nếu bạn chơi game ở quán net sau đó tắt đi. Thì khi về
				nhà mở lên bạn hoàn toàn có thể chơi tiếp game đó ngay tại thời điểm
				mà bạn đã lưu ở quán net. Tuyệt vời phải không ^^</p>
			<img src="/images/controller4.avif" class="img-fluid rounded"
				alt="...">
			<p class="fs-4 fw-bold mt-3" id="6">Các tính năng đặc biệt mà chỉ
				game bản quyền mới có</p>
			<p>Chơi game bản quyền bạn còn có thể được thêm các tính năng đặc
				biệt như Trao đổi item, Trading Card, Thu thập các huy hiệu để đổi
				đồ.</p>
			<div class="d-flex justify-content-center">
				<img src="/images/controller5.png" class="img-fluid rounded"
					alt="...">
			</div>
			<p class="text-center text-secondary">Những item tuyệt đẹp mà chỉ
				có chơi game bản quyền mới có</p>
			<p class="fs-4 fw-bold" id="7">Ủng hộ nhà phát hành</p>
			<p>Mỗi một khoản tiền mà bạn chi ra để mua game đều sẽ trở về với
				nhà phát triển, về với những con người đã tạo ra những tựa game
				tuyệt vời cho bạn thưởng thức. Đây là khoản tiền mà họ xứng đáng
				được nhận sau bao nhiêu công sức đã bỏ ra, và cũng chính là kinh phí
				cho những dự án kế tiếp của họ. Tiền mà bạn bỏ ra để mua game không
				chỉ giúp chính bạn sở hữu nó một cách hợp pháp mà còn tạo tiền đề
				cho những tựa game ngày càng đỉnh hơn từ nhà phát triển.</p>
			<p>Ngược lại sử dụng bản crack không chỉ đơn giản là một món hời
				dành cho bạn, nó còn góp phần làm thất thoát khoản kinh phí mà những
				nhà phát triển, phát hành game xứng đáng được nhận, gây ra thiệt hại
				rất cho họ. Chơi game crack chính là bạn đã và đang góp phần bóp
				chết những người đã làm game cho bạn chơi.</p>
			<p>Hiện nay với chính sách giá dành riêng cho Việt Nam. Các tựa
				game đang trở nên rất rẻ, nhiều khi chỉ có vài nghìn đồng hoặc vài
				chục nghìn đồng, rẻ hơn cả 1 cốc trà sữa. Việc bỏ ra một chút tiền
				mà nhận lại được rất nhiều giá trị như trên thì hoàn toàn xứng đáng.
			</p>
			<img src="/images/controller6.png" class="img-fluid rounded"
				alt="...">
			<p class="text-center text-secondary">Game đang ngày càng trở nên
				rẻ hơn với các game thủ Việt</p>
			<nav aria-label="Page navigation example ">
				<ul class="pagination d-flex justify-content-between">
					<li class="page-item w-100"><a
						class="page-link btn btn-primary w-100 rounded p-3 me-3 mt-5">Previous</a>
					</li>
					<li class=" ms-3 page-item w-100"><a
						class="page-link btn btn-primary w-100 rounded p-3 mt-5" href="#">Next
					</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="col-lg-2 d-none d-lg-block  border-start fixed-sidebar"
		style="border-color: black; border-width: 2px;">
		<div style="font-size: 14px;">
			<a href="#1" class="step-link">Được Update tự động và sớm nhất</a> <a
				href="#2" class="step-link">Được chơi Online và Multi-Player</a> <a
				href="#3" class="step-link active-step">Cài đặt đơn giản và được
				hỗ trợ từ nhà phát hành</a> <a href="#4" class="step-link">An toàn
				và bảo mật</a> <a href="#5" class="step-link">Được thêm game vào tài
				khoản để có thể sử dụng ở nhiều máy</a> <a href="#6" class="step-link">Các
				tính năng đặc biệt mà chỉ game bản quyền mới có</a> <a href="#7"
				class="step-link">Ủng hộ nhà phát hành</a>
		</div>
	</div>
</body>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

</html>