<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hướng dẫn chuyển khoản VNPay</title>
</head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<body>
	<div th:replace="/instruct/menu_instruct.html"></div>
	<div class="col-lg-7">
		<div class="container">
			<p class="fs-2 fw-bold mt-4">Thanh toán VNPAY QRCode</p>
			<p class="fs-5 mt-4">Hướng dẫn nạp tiền thông qua ứng dụng VNPAY.</p>
			<div class="d-flex justify-content-center">
				<img src="/images/pic_vnpay.avif" class="img-fluid d-block rounded"
					alt="...">
			</div>
			<p class="fs-2 fw-bold mt-4" id="tongquan">Tổng quan</p>
			<p class="fs-2 fw-bold mt-4" id="1">Bước 1</p>
			<p>VNPAY QR là giải pháp thanh toán hiện đại do Công ty Cổ phần
				Giải pháp Thanh toán Việt Nam (VNPAY) phát triển. Khách hàng sử dụng
				tính năng QR Pay được tích hợp sẵn trên ứng dụng Mobile Banking của
				các ngân hàng liên kết (tìm trong mục menu của các ứng dụng này trên
				điện thoại), tiến hành quét mã QR Pay, nhập mã giảm giá (nếu có) và
				thanh toán trực tiếp từ tài khoản ngân hàng.</p>
			<p>Hiện nay, đã có nhiều ngân hàng/ví điện tử áp dụng khuyến mãi
				mã giảm giá do VNPAY-QR phát hành và cũng đã hỗ trợ thanh toán bằng
				VNPAY-QR.</p>
			<div class="d-flex justify-content-center">
				<img src="/images/pic_vnpay2.avif" class="img-fluid d-block rounded"
					style="max-width: 100%; width: 375px; height: auto" alt="...">
			</div>
			<p class="text-secondary text-center">Danh sách các ngân hàng và
				ví điện tử áp dụng khuyến mãi từ VNPAY.</p>
			<p class="fs-2 fw-bold mt-4" id="huongdan">Hướng dẫn thực hiện</p>
			<p>Tại trang nạp DCoin, chọn hình thức Thanh toán VNPAY-QR (ví dụ
				bạn muốn nạp 100.000đ sẽ nhập 100000).</p>
			<div class="d-flex justify-content-center">
				<img src="/images/pic_vnpay3.avif" class="img-fluid d-block rounded"
					alt="...">
			</div>
			<p class="text-secondary text-center">Nhập số tiền mà bạn muốn
				nạp</p>
			<p>Sau đó, hệ thống sẽ hiển thị một mã QR để thanh toán nạp tiền.</p>
			<p>
				<span class="text-danger">Không đóng trình duyệt</span> tới khi hệ
				thống chuyển sang bước kết quả thanh toán.
			</p>
			<div class="bg-primary p-1 text-dark bg-opacity-25 rounded mt-3">
				<div class="container">
					<p class="mt-2">
						<i class="bi bi-check-circle"></i> Mẹo nhỏ: Nếu truy cập bằng điện
						thoại, hãy chụp ảnh màn hình hoặc lưu hình ảnh QR code này để tiến
						hành thanh toán trong ứng dụng Mobile Banking 😉
					</p>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<img src="/images/pic_vnpay4.png" class="img-fluid d-block rounded"
					style="max-width: 100%; width: 375px; height: auto" alt="...">
			</div>
			<p class="text-secondary text-center">Mã QR nạp tiền thông qua
				VNPAY.</p>
		</div>
		<p class="fs-2 fw-bold mt-4" id="2">Bước 2</p>
		<p>
			Mở ứng dụng <span class="bg-primary bg-opacity-25">Mobile
				Banking</span> của ngân hàng mà bạn trên điện thoại <a href="#">(xem
				danh sách ngân hàng hỗ trợ).</a>
		</p>
		<p>Tiến hành đăng nhập và chọn chức năng QR Pay.</p>
		<div class="d-flex justify-content-center">
			<img src="/images/pic_vnpay5.avif" class="img-fluid d-block rounded"
				style="max-width: 100%; width: 375px; height: auto" alt="...">
		</div>
		<p>
			Sau đó, di chuyển camera điện thoại đến vùng có chứa mã QR để quét
			(hoặc bạn có thể chọn mã QR từ thư viện ảnh đã lưu bước trước nếu bạn
			truy cập <a href="#">clazshop.vn</a> bằng điện thoại).
		</p>
		<div class="d-flex justify-content-center">
			<img src="/images/pic_vnpay6.avif" class="img-fluid d-block rounded"
				style="max-width: 100%; width: 375px; height: auto" alt="...">
		</div>
		<p class="text-secondary text-center">Quét mã thanh toán hiển thị
			trên màn hình.</p>
		<p class="fs-2 fw-bold mt-4" id="3">Bước 3</p>
		<p>
			Nhập mã giảm giá (nếu có), sau đó bấm <span
				class="bg-opacity-25 bg-primary">Thanh toán.</span>
		</p>
		<div class="bg-primary p-1 text-dark bg-opacity-25 rounded mt-3">
			<div class="container">
				<p class="mt-2">
					<i class="bi bi-check-circle"></i> Mã giảm giá sẽ hiển thị trên
					website <a href="" class="text-secondary">clazshop.vn</a> ở dưới
					thông tin sản phẩm hoặc trong trang thanh toán/nạp Dcoin khi diễn
					ra các trương chình ưu đãi cho khách hàng.
			</div>
		</div>
		<div class="d-flex justify-content-center mt-2">
			<img src="/images/pic_vnpay7.png" class="img-fluid d-block rounded"
				style="max-width: 100%; width: 375px; height: auto" alt="...">
		</div>
		<p class="text-secondary text-center">Xem lại thông tin giao dịch.</p>
		<p>Sau khi thanh toán thành công, quay trở lại trang nạp Dcoin,
			đợi trong giây lát, hệ thống sẽ tự xử lý và hoàn thành giao dịch cho
			bạn.</p>
		<nav aria-label="Page navigation example ">
			<ul class="pagination d-flex justify-content-between">
				<li class="page-item w-100"><a href="/payment_instruct"
					class="page-link btn btn-primary w-100 rounded p-3 me-3 mt-5">< Previous</a>
				</li>
				<li class=" ms-3 page-item w-100"><a
					class="page-link btn btn-primary w-100 rounded p-3 mt-5" href="/momo_instruct">Next >
				</a></li>
			</ul>
		</nav>
	</div>
	<div class="col-lg-2 d-none d-lg-block border-start fixed-sidebar"
		style="border-color: black; border-width: 2px; max-height: 200px">
		<div style="font-size: 14px;">
			<a href="#tongquan" class="step-link">Tổng quan</a> <a
				href="#huongdan" class="step-link">Hướng dẫn thực hiện</a> <a
				href="#1" class="step-link active-step">Bước 1</a> <a href="#2"
				class="step-link">Bước 2</a> <a href="#3" class="step-link">Bước
				3</a>
		</div>
	</div>
</body>

<link rel="stylesheet" href="./css/dashboard.css">
</html>
