<div class="content px-3 py-2">
	<div class="container-fluid">
		<!-- Content -->
		<div class="card border-0">
			<div class="card-header">
				<h5 class="card-title">Table</h5>
				<h6 class="card-subtitle text-muted">Người Dùng</h6>
			</div>
			<div class="card-body table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Username</th>
							<th scope="col">Password</th>
							<th scope="col">Email</th>
							<th scope="col">Fullname</th>
							<th scope="col">Vai Trò</th>
							<th scope="col">Hoạt động</th>
						</tr>
					</thead>
					<tbody>
						<td>Záp đẹp try</td>
						<td>*******</td>
						<td>aduzapdeptry@gmail.com</td>
						<td>Hoàng Giáp</td>
						<td>Admin</td>
						<td scope="row">
							<!-- Button trigger modal -->
							<button type="button" class="bg-warning text-white btn btn-sm"
								data-bs-toggle="modal" data-bs-target="#staticBackdrop">
								Chỉnh Sửa</button> <!-- Modal -->
							<div class="modal fade" id="staticBackdrop"
								data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
								aria-labelledby="staticBackdropLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="staticBackdropLabel">Cập
												nhật người dùng</h1>
											<button type="button" class="btn-close"
												data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<form class="col-xs-12 col-lg-6 mx-auto">
												<div class="form-outline mb-4">
													<label class="form-label" for="form2Example1">Username:</label>
													<input value="" type="text" class="form-control" />
													<form:errors cssClass="msg_errors" />
												</div>

												<div class="form-outline mb-4">
													<label class="form-label" for="form2Example2">Mật
														khẩu:</label> <input value="" type="password" class="form-control" />
													<form:errors cssClass="msg_errors" />
												</div>

												<div class="form-outline mb-4">
													<label class="form-label" for="form2Example2">Xác
														Nhận Mật Khẩu:</label> <input value="" type="password"
														class="form-control" />
													<form:errors cssClass="msg_errors" />
												</div>

												<div class="form-outline mb-4">
													<label class="form-label" for="form2Example2">Họ và
														tên:</label> <input value="" type="text" class="form-control" />
													<form:errors cssClass="msg_errors" />
												</div>

												<div class="form-outline mb-4">
													<label class="form-label" for="form2Example2">Email:</label>
													<input value="" type="email" class="form-control" />
													<form:errors cssClass="msg_errors" />
												</div>

												<div class="row mb-4">
													<label class="form-label" for="form2Example2">Vai
														trò:</label>
													<div class="col d-flex">
														<input type="radio" itemCssClass="radio-spacing" />
														&nbsp;&nbsp;Admin&nbsp;&nbsp;&nbsp;&nbsp;<br> <input
															type="radio" itemCssClass="radio-spacing" />
														&nbsp;&nbsp;User<br>
														<form:errors path="admin" cssClass="msg_errors" />
													</div>
												</div>

												<!-- Submit button -->
												<div class="d-flex justify-content-center mb-4">
													<button class="btn btn-outline-success me-2">Thêm</button>
													<button class="btn btn-outline-info">Mới</button>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-bs-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary">Cập
												Nhật</button>
											<button type="button" class="btn btn-danger">Xóa</button>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<a href="#" class="theme-toggle"> <i class="fa-regular fa-moon"></i>
	<i class="fa-regular fa-sun"></i>
</a>