<div class="content px-3 py-2">
	<div class="container-fluid">
		<div>
			<div class="mb-3">
				<h4 class="fw-bold fs-3">Danh sách hóa đơn</h4>
			</div>
			<div class="table-responsive">

				<form th:action="@{/adminSearchOrder}" method="get"
					class="d-flex my-3">
					<input class="rounded-start lh-lg border p-3 form_search"
						type="search" name="keyword" placeholder="Tìm kiếm"
						th:value="${keyword}" /> <a href="#"
						onclick="event.preventDefault(); this.closest('form').submit();"
						class="text-white d-flex align-items-center rounded-end btn_search">
						<i class="bi bi-search my-2 mx-3"></i>
					</a>
				</form>

				<table class="table table-bordered text-center align-middle">
					<thead>
						<tr>
							<th scope="col">STT</th>
							<th scope="col">Mã hóa đơn</th>
							<th scope="col">Người mua</th>
							<th scope="col">Trạng thái</th>
							<th scope="col">Phương thức thanh toán</th>
							<th scope="col">Tổng tiền</th>
							<th scope="col">Ngày mua</th>
							<th scope="col">Khác</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="order, iterStat : ${orders}">
							<td th:text="${iterStat.index + 1}"></td>
							<td th:text="${'#' + order.id}"></td>
							<td th:text="${order.customer.fullname}"></td>
							<td><span class="text-danger"
								th:if="${order.status == 'Đã được hủy'}"
								th:text="${order.status}"></span> <span class="text-success"
								th:if="${order.status == 'Đã xử lý'}" th:text="${order.status}"></span>
								<span class="text-warning"
								th:if="${order.status == 'Đang xử lý'}"
								th:text="${order.status}"></span></td>
							<td th:text="${order.paymentMethod}"></td>
							<td><span th:if="${order.amount > 0}"
								th:text="${#numbers.formatDecimal(order.amount, 0,
							'COMMA', 0, 'POINT') + 'đ'}"></span>
								<div
									th:if="${order.orderDetails != null && !order.orderDetails.isEmpty() && order.amount == 0}">
									<span
										th:text="${#numbers.formatDecimal(order.totalAmount, 0,
							'COMMA', 0, 'POINT') + 'đ'}"></span>
								</div></td>
							<td
								th:text="${order.created_at.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy HH:mm:ss'))}"></td>
							<td class="d-flex justify-content-center gap-1"><a
								th:href="@{'/adminOrderDetail?id='+ ${order.id}}"
								class="btn btn-outline-primary me-2"> <i
									class="bi bi-box-arrow-up-right"></i> Chi tiết
							</a> <a th:if="${order.status == 'Đã xử lý'}"
								th:href="@{'/adminCancelOrder?orderId='+ ${order.id}}"
								class="btn btn-outline-danger me-2"> <i
									class="bi bi-trash3-fill"></i> Hủy
							</a> <a th:if="${order.status == 'Đang xử lý'}"
								th:href="@{'/adminUpdateOrder?orderId='+ ${order.id}}"
								class="btn btn-outline-danger me-2"> <i
									class="bi bi-trash3-fill"></i> Xác nhận hủy
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="text-center">
				<a th:classappend="${currentPage == 0} ? 'disabled'"
					class="btn btn-outline-danger" th:href="@{/adminListOrder(page=0)}">
					<i class="bi bi-caret-left-square"></i></i>
				</a> <a th:classappend="${currentPage == 0} ? 'disabled'"
					class="btn btn-outline-primary"
					th:href="@{/adminListOrder(page=${currentPage - 1})}"> <i
					class="bi bi-caret-left"></i></i>
				</a>
				<button class="btn btn-outline-success">
					<span th:text="${currentPage + 1}"></span> of <span
						th:text="${totalPages}"></span>
				</button>
				<a th:classappend="${currentPage == totalPages - 1} ? 'disabled'"
					class="btn btn-outline-primary"
					th:href="@{/adminListOrder(page=${currentPage + 1})}"> <i
					class="bi bi-caret-right"></i></i>
				</a> <a th:classappend="${currentPage == totalPages - 1} ? 'disabled'"
					class="btn btn-outline-danger"
					th:href="@{/adminListOrder(page=${totalPages - 1})}"> <i
					class="bi bi-caret-right-square"></i></i>
				</a>
			</div>
		</div>
	</div>
</div>
<a href="#" class="theme-toggle"> <i class="fa-regular fa-moon"></i>
	<i class="fa-regular fa-sun"></i>
</a>
