<div class="content px-3 py-2">
	<div class="container-fluid" th:if="${order != null}"
		th:object="${order}">
		<!-- Content -->
		<div>
			<div class="mb-3">
				<h4 class="fw-bold fs-3">Chi tiết hóa đơn [[*{'#' + id}]]</h4>
			</div>
			<div class="container p-0">
				<hr class="my-3">

				<div class="row">
					<div class="col-md-5">
						<div>
							<h6>Thông tin đơn hàng</h6>
							<div class="my-2">
								<span style="display: block;" class="mt-2">Mã đơn hàng:
									[[*{'#' + id}]]</span> <span style="display: block;" class="mt-2">Ngày
									tạo:
									[[*{created_at.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy
									HH:mm:ss'))}]]</span> <span style="display: block;" class="mt-2">Trạng
									thái đơn hàng: <span class="text-danger fw-bold"
									th:if="*{status == 'Đã được hủy'}">[[*{status}]]</span> <span
									class="text-success fw-bold" th:if="*{status == 'Đã xử lý'}">[[*{status}]]</span>
									<span class="text-warning"
									th:if="${order.status == 'Đang xử lý'}">[[*{status}]]</span>
								</span> <span style="display: block;" class="mt-2">Người nhận:
									[[*{customer.email}]]</span>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div>
							<span class="fw-bold">Giá trị đơn hàng</span>
						</div>
						<div class="d-flex justify-content-between">
							<span>Tổng giá trị đơn hàng</span> <span th:if="*{amount > 0}">[[*{#numbers.formatDecimal(amount
								/ 100, 0, 'COMMA', 0, 'POINT')}]]đ</span>
							<div
								th:if="*{orderDetails != null && !orderDetails.isEmpty() && amount == 0}">
								<span
									th:text="${#numbers.formatDecimal(totalAmount, 0,
							'COMMA', 0, 'POINT') + 'đ'}"></span>
							</div>
						</div>
					</div>
				</div>
				<hr class="my-3">
				<div class="mb-4" th:each="detail:*{orderDetails}"
					th:object="${detail}">
					<div class="row">
						<div class="col-md-3 py-1">
							<img th:src="@{'/images/'+ *{product.image}}"
								class="img-fluid rounded" alt="Steam Random Code"
								style="width: 100%;">
						</div>
						<div class="col-md-9">
							<div class="row">
								<h5 class="col-md-6 py-1">
									<a class="fs-5 fw-bold btn_color" th:href="*{product.id}">[[*{product.name}]]</a>
								</h5>
								<div class="col-md-6 py-1 d-flex justify-content-between">
									<h6>Số lượng: [[*{quantity}]]</h6>
									<h6>Đơn giá: [[*{#numbers.formatDecimal(price * (1 -
										discount / 100), 0, 'COMMA', 0, 'POINT')}]]đ</h6>
								</div>
								<div class="col-md-6 py-1 d-flex justify-content-between">
									<h6>Tổng giá: [[*{#numbers.formatDecimal((price * (1 -
										discount / 100)) * quantity, 0, 'COMMA', 0, 'POINT')}]]đ</h6>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<a href="#" class="theme-toggle"> <i class="fa-regular fa-moon"></i>
	<i class="fa-regular fa-sun"></i>
</a>