<div class="container m-3 col-xl-12 col-lg-12 col-md-12 rounded"
	ng-app="adminApp" ng-controller="adminCtrl">

	<div class="container row">
		<h4 class="fw-bold mb-4">Thay đổi thông tin tài khoản</h4>
		<div class="col-6 col-sm-6 col-lg-4 col-md-4">
			<p class="">
				Tên đăng nhập <span class="fw-bold text-block">:
					{{form.username}}</span>
			</p>
		</div>
		<div class="col-6 col-sm-6 col-lg-4 col-md-4">
			<p class="">
				Email <span class="fw-bold text-block">: {{form.email}}</span>
			</p>
		</div>
		<div class="col-6 col-sm-6 col-lg-4 col-md-4">
			<p class="">
				Họ và tên <span class="fw-bold text-block">:
					{{form.fullname}}</span>
			</p>
		</div>
		<div class="col-6 col-sm-6 col-lg-4 col-md-4">
			<p class="">
				Số điện thoại: <span class="fw-bold text-block">:
					{{form.phone}}</span>
			</p>
		</div>
		<div class="col-6 col-sm-6 col-lg-4 col-md-4">
			<p class="">
				Giới tính: <span class="fw-bold text-block">{{form.gender ?
					"Nam":"Nữ"}}</span>
			</p>
		</div>
		<div class="col-6 col-sm-6 col-lg-4 col-md-4">
			<p class="">
				Ngày tham gia <span class="fw-bold text-block">: {{
					form.created_at | date:'dd/MM/yyyy HH:mm:ss' }}</span>
			</p>
		</div>
		<div class="col-6 col-sm-6 col-lg-4 col-md-4">
			<p class="">
				Chức vụ <span class="fw-bold text-block">: {{ form.role ? 'Quản lý' : 'Nhân viên' }}</span>
			</p>
		</div>
	</div>

	<div class="container row">
		<hr class="m-3">
		<div class="d-flex flex-wrap justify-content-center">
			<div class="col-xl-5 col-lg-6 col-md-6 d-flex align-items-center">
				<div>
					<img src="/images/{{form.image}}"
						style="height: 250px; width: 250px;"
						class="rounded-circle object-fit-cover" alt="...">
				</div>
				<div>
					<label for="file-upload" class="btn btn-outline-primary ms-3">
						Sửa ảnh đại diện </label> <input id="file-upload" type="file"
						class="d-none"
						onchange="angular.element(this).scope().imageChaged(this.files)"
						ng-click="updateAccountimg()" />
				</div>

				<div class="vertical-divider ms-2 d-none d-lg-block"
					style="height: 100%; border-left: 1px solid grey;"></div>
			</div>
			<div
				class="col-xl-7 col-lg-6 col-md-6 d-flex align-items-center mt-3 ps-3">
				<p class="">
					Vui lòng chọn ảnh nhỏ hơn 5MB <br> Chọn hình ảnh phù hợp,
					không phản cảm
				</p>

			</div>
		</div>
		<hr class="m-3">
		<div>
			<h3>Cá nhân</h3>
			<div class="col-sm-5 col-10 mb-3 mt-3">
				<div class="form-floating">
					<input type="text" class="form-control" id="floatingInput"
						ng-model="form.fullname"> <label for="floatingInput">Họ
						và tên</label>
				</div>
			</div>
			<div class="col-sm-5 col-10 mb-3 mt-3">
				<div class="form-floating">
					<input type="tel" class="form-control" id="floatingInput2"
						ng-model="form.phone"> <label for="floatingInput2">Số
						điện thoại</label>
				</div>
			</div>
			<div class="col-sm-5 col-10 mb-3 mt-3">
				<div class="form-floating">
					<select class="form-control" id="floatingInput3"
						ng-model="form.gender" value="{{form.gender}}">
						<option value="true">Nam</option>
						<option value="false">Nữ</option>
					</select> <label for="floatingInput3">Giới tính</label>
				</div>
			</div>
			<button class="btn btn-primary mt-2" ng-click="update()">Lưu
				thay đổi</button>

		</div>
	</div>
</div>
<a href="#" class="theme-toggle"> <i class="fa-regular fa-moon"></i>
	<i class="fa-regular fa-sun"></i>
</a>
