<div class="content px-3 py-2" ng-app="staffApp"
	ng-controller="staffCtrl">
	<div class="container-fluid">
		<!-- Content -->
		<div>
			<div class="mb-3">
				<h4 class="fw-bold fs-3">Danh sách Nhân viên</h4>
			</div>
			<div class="table-responsive">
				<form action="" method="post" class="d-flex my-3">
					<input ng-model="searchQuery"
						class="rounded-start lh-lg border p-3 form_search" type="search"
						placeholder="Tìm kiếm" /> <a href="#"
						class="text-white d-flex align-items-center rounded-end btn_search">
						<i class=" bi bi-search my-2 mx-3"></i>
					</a>
				</form>

				<table class="table table-bordered text-center align-middle">
					<thead>
						<tr>
							<th scope="col" ng-click="sortBy('index')">STT</th>
							<th scope="col" ng-click="sortBy('username')">Tên đăng nhập</th>
							<th scope="col" ng-click="sortBy('fullname')">Họ và tên</th>
							<th scope="col" ng-click="sortBy('password')">Mật khẩu</th>
							<th scope="col" ng-click="sortBy('email')">Email</th>
							<th scope="col" ng-click="sortBy('phone')">Số điện thoại</th>
							<th scope="col" ng-click="sortBy('gender')">Giới tính</th>
							<th scope="col" ng-click="sortBy('created_at')">Chức vụ</th>
							<th scope="col" ng-click="sortBy('index')">Ngày tham gia</th>
							<th scope="col">Khác</th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="user in pager.items | filter:searchQuery | orderBy:sortColumn:reverse">
							<td>{{$index + 1}}</td>
							<td>{{user.username}}</td>
							<td>
								<div class="d-flex align-items-center">
									<img ng-src="./images/{{user.image}}"
										class="rounded-circle object-fit-cover me-2" width="40px"
										height="40px"> {{user.fullname}}
								</div>
							</td>
							<td>{{user.password | limitTo:10}}</td>
							<td>{{user.email}}</td>
							<td>{{user.phone}}</td>
							<td>{{user.gender ? 'Nam' : 'Nữ'}}</td>
							<td>{{user.role ? 'Quản lý' : 'Nhân viên'}}</td>
							<td>{{user.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</td>
							<td scope="row" class="d-flex justify-content-center gap-2">
								<!-- Button trigger modal -->
								<button ng-click="edit(user.username)" type="button"
									class="btn btn-outline-warning" data-bs-toggle="modal"
									data-bs-target="#staticBackdrop">
									<i class="bi bi-box-arrow-up-right"></i> Chỉnh Sửa
								</button>
								<button ng-click="delete(user.username)" ng-if="form2.username != user.username"
									class="btn btn-outline-danger">
									<i class="bi bi-trash3-fill"></i>
								</button> <!-- Modal -->
								<div class="modal fade" id="staticBackdrop"
									data-bs-backdrop="static" data-bs-keyboard="false"
									tabindex="-1" aria-labelledby="staticBackdropLabel"
									aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="staticBackdropLabel">Cập
													nhật tài khoản</h1>
												<button type="button" class="btn-close"
													data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<form class="col-xs-12 col-lg-12">
													<div class="row">
														<div class="col-12">
															<label for="image"> <img
																class="rounded-circle object-fit-cover"
																ng-src="./images/{{form.image}}" width="200px"
																height="200px" alt="Chọn ảnh sản phẩm">
															</label> <input type="file" class="form-control" id="image"
																onchange="angular.element(this).scope().imageChaged(this.files)"
																hidden>
														</div>
														<div class="col-12 mt-3">
															<div class="row mb-3">
																<div class="form-group col-sm-6">
																	<div>Tên đăng nhập:</div>
																	<input ng-model="form.username" class="form-control"
																		readonly>
																</div>
																<div class="form-group col-sm-6">
																	<div>Mật khẩu:</div>
																	<input ng-model="form.password" class="form-control"
																		type="password" readonly>
																</div>
															</div>
															<div class="row mb-3">
																<div class="form-group col-sm-6">
																	<div>Họ và tên:</div>
																	<input ng-model="form.fullname" class="form-control">
																</div>
																<div class="form-group col-sm-6">
																	<div>Email:</div>
																	<input ng-model="form.email" class="form-control"
																		type="email">
																</div>
															</div>
															<div class="row mb-3">
																<div class="form-group col-sm-6">
																	<div>Số điện thoại:</div>
																	<input ng-model="form.phone" class="form-control">
																</div>
																<div class="form-group col-sm-6">
																	<div>Giới tính:</div>
																	<select ng-model="form.gender" class="form-control">
																		<option value="true">Nam</option>
																		<option value="false">Nữ</option>
																	</select>
																</div>
															</div>
															<div class="row mb-3">
																<div class="form-group col-sm-6">
																	<div>Chức vụ:</div>
																	<select ng-model="form.role" class="form-control">
																		<option value="true">Quản lý</option>
																		<option value="false">Nhân viên</option>
																	</select>
																</div>
																<div class="form-group col-sm-6">
																	<div>ngày tham gia:</div>
																	<input
																		ng-model="form.created_at | date:'dd/MM/yyyy HH:mm:ss'"
																		ng-value="form.created_at | date:'dd/MM/yyyy HH:mm:ss'"
																		class="form-control" readonly>
																</div>
															</div>
														</div>
														<div class="mt-4 d-flex justify-content-center gap-3">
															<button ng-click="update()"
																class="btn btn-outline-warning">
																<i class="bi bi-box-arrow-up-right"></i> Cập nhật
															</button>
															<button ng-click="delete(form)"
																class="btn btn-outline-danger">
																<i class="bi bi-trash3-fill"></i> Xóa
															</button>
														</div>
													</div>
												</form>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Đóng</button>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="text-center">
				<button ng-click="pager.first()" class="btn btn-outline-danger">
					<i class="bi bi-caret-left-square"></i></i>
				</button>
				<button ng-click="pager.prev()" class="btn btn-outline-primary">
					<i class="bi bi-caret-left"></i></i>
				</button>
				<button class="btn btn-outline-success">{{pager.page + 1}}
					of {{pager.count}}</button>
				<button ng-click="pager.next()" class="btn btn-outline-primary">
					<i class="bi bi-caret-right"></i></i>
				</button>
				<button ng-click="pager.last()" class="btn btn-outline-danger">
					<i class="bi bi-caret-right-square"></i></i>
				</button>
			</div>
		</div>
	</div>
</div>
<a href="#" class="theme-toggle"> <i class="fa-regular fa-moon"></i>
	<i class="fa-regular fa-sun"></i>
</a>