<div class="content px-3 py-2">
	<div class="container-fluid">
		<!-- Content -->
		<div>
			<div class="mb-3">
				<h4 class="fw-bold fs-3">Thêm mới sản phẩm</h4>
			</div>
			<div class="row">
				<form class="col-xs-12 col-lg-12 mt-3">
					<div class="row">
						<input type="hidden" ng-model="form.id">
						<div class="col-md-12 col-lg-12 col-xl-4 text-center mb-3">
							<label for="image"> <img class="rounded object-fit-cover"
								src="./images/black myth wukong-13641.jpg" width="100%"
								alt="Chọn ảnh sản phẩm">
							</label> <input type="file" class="form-control" id="image"
								onchange="angular.element(this).scope().imageChaged(this.files)"
								hidden>
						</div>
						<div class="col-md-12 col-lg-12 col-xl-8">
							<div class="row mb-3">
								<div class="form-group col-sm-6">
									<div>Tên sản phẩm:</div>
									<input ng-model="form.username" class="form-control">
								</div>
								<div class="form-group col-sm-6">
									<div>Giá sản phẩm:</div>
									<input ng-model="form.name" class="form-control">
								</div>
							</div>
							<div class="row mb-3">
								<div class="form-group col-sm-6">
									<div>Giảm giá:</div>
									<input ng-model="form.password" class="form-control"
										type="text">
								</div>
								<div class="form-group col-sm-6">
									<div>Số lượng:</div>
									<input ng-model="form.email" class="form-control" type="text">
								</div>
							</div>
							<div class="row mb-3">
								<div class="form-group col-sm-6">
									<div>Danh mục sản phẩm:</div>
									<select class="form-control">
										<option>Giải trí</option>
										<option>Học tập</option>
									</select>
								</div>
								<div class="form-group col-sm-6">
									<div>Thể loại sản phẩm:</div>
									<select class="form-control">
										<option>Giải trí</option>
										<option>Học tập</option>
									</select>
								</div>
							</div>
							<div class="mb-3">
								<div class="form-group mb-3">
									<div>Ngày tạo:</div>
									<input ng-model="form.phone" class="form-control" disabled>
								</div>
								<div class="form-group">
									<div>Mô tả:</div>
									<textarea rows="5" class="form-control"></textarea>
								</div>
							</div>
						</div>
						<div class="mt-4 d-flex justify-content-center gap-3">
							<button ng-click="create()" class="btn btn-outline-primary">
								<i class="bi bi-plus-circle-fill"></i> Thêm
							</button>
							<button ng-click="reset()" class="btn btn-outline-info">
								<i class="bi bi-arrow-clockwise"></i> Mới
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<a href="#" class="theme-toggle"> <i class="fa-regular fa-moon"></i>
	<i class="fa-regular fa-sun"></i>
</a>