<div class="content px-3 py-2">
	<div class="container-fluid">
		<!-- Content -->
		<div class="card border-0">
			<div class="card-header">
				<h5 class="card-title">Table</h5>
				<h6 class="card-subtitle text-muted">Hóa Đơn</h6>
			</div>
			<div class="card-body table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>ID Hóa Đơn</th>
							<th>Ngày Tạo</th>
							<th>Tài Khoản Mua</th>
						</tr>
					</thead>
					<tbody>
						<td>1</td>
						<td>10/4/20204</td>
						<td>zapdeptry</td>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<a href="#" class="theme-toggle"> <i class="fa-regular fa-moon"></i>
	<i class="fa-regular fa-sun"></i>
</a>