<div class="content px-3 py-2" ng-app="reportApp"
	ng-controller="reportCtrl">
	<div class="container-fluid">
		<div class="mb-3">
			<h4 class="fw-bold fs-3 mb-5">Thống kê Người dùng đăng ký</h4>
		</div>
		<!--  
		<div class="flex-fill border-0">
			<div class="py-4">
				<div class="d-flex align-items-start">
					<div class="flex-grow-1">
						<div id="chartContainer">
							<div id="myChart" style="max-width: 780px; height: 400px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->

		<!-- Biểu đồ thứ nhất -->
		<div class="row">
			<div class="col-lg-6 col-12">
				<table class="table table-bordered mt-4">
					<thead>
						<tr>
							<th>Tháng</th>
							<th>Số lượng người dùng đăng ký</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in monthlyCustomerData">
							<td>Tháng {{item.month}}</td>
							<td>{{item.total}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-6 col-12">
				<div id="chartContainer" class="chart-container">
					<canvas id="myChart" style="width: 100%; height: 400px;"></canvas>
				</div>
			</div>
		</div>

		<a href="#" class="theme-toggle"> <i class="fa-regular fa-moon"></i>
			<i class="fa-regular fa-sun"></i>
		</a>
	</div>
</div>
