<div class="content px-3 py-2" ng-app="reportApp"
	ng-controller="reportCtrl">
	<div class="container-fluid">
		<div class="mb-3">
			<h4 class="fw-bold fs-3">Thống kê doanh thu</h4>
		</div>

		<div class="flex-fill border-0">
			<div class="py-4">
				<div class="d-flex align-items-start">
					<div class="flex-grow-1">
						<div id="chartContainer">
							<div id="myChart" style="max-width: 780px; height: 400px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 text-center">
			<h5 class="mb-4">Chọn Thời Gian</h5>
			<div
				class="input-group mb-3 d-flex align-items-center justify-content-center"
				style="max-width: 450px; margin: auto;">
				<input type="date" ng-model="startDate" class="form-control me-2"
					placeholder="Từ ngày" /> <span>-</span> <input type="date"
					ng-model="endDate" class="form-control ms-2" placeholder="Đến ngày" />
				<button class="btn btn-primary" ng-click="applyFilter()">Lọc</button>
			</div>
		</div>
		<h4 class="mt-4 text-center">Biểu Đồ Doanh Thu Theo Tháng</h4>
		<div class="chart-container">
			<canvas id="revenueChart" width="400" height="500"></canvas>
		</div>
	</div>
</div>z
<a href="#" class="theme-toggle"> <i class="fa-regular fa-moon"></i>
	<i class="fa-regular fa-sun"></i>
</a>