<div class="content px-3 py-2" ng-app="reportApp"
	ng-controller="reportCtrl">
	<div class="container-fluid">
		<div class="mb-3">
			<h4 class="fw-bold fs-3 mb-5">Thống kê doanh thu sản phẩm</h4>
		</div>

		<div class="row mt-4">
			<div class="col-lg-4 col-12">
				<table class="table table-bordered mt-4">
					<thead>
						<tr>
							<th>Tên sản phẩm</th>
							<th>Số sản phẩm đã bán</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in monthlyRevenueData">
							<td>{{item.product}}</td>
							<td>{{item.revenue}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-8 col-12 mb-3">
				<div class="chart-container">
					<canvas id="revenueChart" style="width: 100%; height: 400px;"></canvas>
				</div>
			</div>
		</div>

		<div class="d-flex flex-wrap align-items-center mb-3 mt-4 gap-2">
			<div>
				<label for="yearSelect" class="col-form-label">Nhập năm:</label>
			</div>
			<div>
				<select id="yearSelect" ng-model="selectedYear" class="form-control"
					style="min-width: 150px;">
					<option value="" disabled selected>Chọn năm</option>
					<option ng-repeat="year in getYears()" value="{{year}}">{{year}}</option>
				</select>
			</div>
			<div>
				<button ng-click="fetchMonthlyProductRevenueData(selectedYear)"
					class="btn btn-primary text-wrap">Tìm kiếm</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-4">
				<table class="table table-bordered mt-4">
					<thead>
						<tr>
							<th>Tháng</th>
							<th>Doanh thu (VND)</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="month in months">
							<td>Tháng {{ month }}</td>
							<td>{{ revenues[month - 1] | number }} VND</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-12 col-lg-8">
				<div class="chart-container">
					<canvas id="monthlyRevenueChart"
						style="width: 100%; height: 400px;"></canvas>
				</div>
			</div>

		</div>
		<a href="#" class="theme-toggle"> <i class="fa-regular fa-moon"></i>
			<i class="fa-regular fa-sun"></i>
		</a>

	</div>
</div>