<div class="container my-4"
	th:if="${not #lists.isEmpty(session.searchProdut)}">
	<h3 class="fw-bold mx-3">Tìm kiếm Sản Phẩm</h3>
	<div class="row my-2 px-3">
		<div class="col-xl-2 col-lg-2 col-md-6 col-12 fill py-2">
			<select class="form-select" aria-label="Default select example">
				<option selected>Danh Mục</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
		<div class="col-xl-2 col-lg-2 col-md-6 col-12 fill py-2">
			<select class="form-select" aria-label="Default select example">
				<option selected>Thể Loại</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
		<div class="col-xl-5 col-lg-4 col-md-7 col-12 fill py-2">
			<form action="/product/searchgia" method="post"
				class="d-flex justify-content-between giatien">
				<span style="font-weight: 500;" class="text-nowrap mt-2 me-2">Mức
					Giá</span>
				<div class="form-group me-2">
					<input name="min" value="${param.min}" placeholder="Min Price?"
						class="form-control">
				</div>
				<span class="mt-2 me-2">-</span>
				<div class="form-group">
					<input name="max" value="${param.max}" placeholder="Max Price?"
						class="form-control">
				</div>
				<button class="btn btn-primary" style="display: none;">
					<i class="bi bi-funnel"></i> Lọc
				</button>
			</form>
		</div>
		<div class="col-xl-2 col-lg-2 col-md-5 col-12 fill py-2">
			<select class="form-select" aria-label="Default select example">
				<option selected>Sắp xếp</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
		<div class="col-xl-1 col-lg-2 col-md-2 col-12 fill pt-2">
			<button type="button" class="btn btn-primary">
				<i class="bi bi-funnel"></i> Lọc
			</button>
		</div>
	</div>

	<div class="container mt-2">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-6 list_product"
				th:each="product : ${session.searchProdut}">
				<a th:href="@{/product/{id}(id=${product.id})}"> <img
					th:src="@{'/images/'+${product.image}}"
					class="img-fluid mt-2 rounded" alt="Product Image" width="100%">
				</a> <a th:href="@{/product/{id}(id=${product.id})}"
					class="d-block mt-2 text_product" th:text="${product.name}"></a>
				<h6 class="mt-2 mb-3 d-flex align-items-center fw-bold text_product">
					<span
						th:text="${#numbers.formatDecimal(product.price * (1 - product.discount / 100), 0, 'COMMA', 0, 'POINT')} + 'đ'"></span>
					<strike class="mx-2 text-secondary"
						th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + 'đ'"></strike>
					<span class="badge text-bg-danger text-white p-2"
						th:text="${product.discount.intValue() + '%'}"></span>
				</h6>
			</div>
		</div>
	</div>
</div>

<div class="text-center my-4"
	th:if="${#lists.isEmpty(session.searchProdut)}">
	<h2 class="h4 font-bold mb-2">Không có sản phẩm phù hợp với tìm
		kiếm!</h2>
	<p class="text-muted">Bạn có thể thử từ khóa đơn giản hơn hoặc liên
		hệ với hỗ trợ.</p>
	<img alt="empty" class="img-fluid mt-4" src="./images/emptysearch.jpg" />
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const icon = document.getElementById('myicon').value;
        const title = document.getElementById('mytitle').value;
        const message = document.getElementById('mymessage').value;
        console.log(icon, title, message);
        if (icon && title && message) {
            Swal.fire({
                title : title,
                text : message,
                icon : icon
            });
        }
    });

    $('#backtop').fadeOut();
    /* Back to top button */
    $(document).ready(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop()) {
                $('#backtop').fadeIn();
            } else {
                $('#backtop').fadeOut();
            }
        });
        $('#backtop').click(function() {
            $('html, body').animate({
                scrollTop : 0
            }, 100);
        })
    });
</script>
</html>