<div class="container my-4">
	<h3 class="fw-bold mx-3">Tìm kiếm Sản Phẩm</h3>
	<form action="/search" method="get" class="row my-2 px-3">
		<div class="col-xl-2 col-lg-2 col-md-6 col-12 fill py-2">
			<select class="form-select" name="categoryId"
				aria-label="Chọn Danh Mục">
				<option value="">Chọn Danh Mục</option>
				<option th:each="cate : ${session.cates}" th:value="${cate.id}"
					th:text="${cate.name}"></option>
			</select>
		</div>
		<div class="col-xl-2 col-lg-2 col-md-6 col-12 fill py-2">
			<select class="form-select" name="genreId" aria-label="Chọn Thể Loại">
				<option value="">Chọn Thể Loại</option>
				<option th:each="genre : ${session.genres}" th:value="${genre.id}"
					th:text="${genre.name}"></option>
			</select>
		</div>
		<div class="col-xl-5 col-lg-4 col-md-7 col-12 fill py-2">
			<div class="d-flex justify-content-between giatien">
				<span style="font-weight: 500;" class="text-nowrap mt-2 me-2">Mức
					Giá</span>
				<div class="form-group me-2">
					<input name="minPrice" th:value="${param.min}" min="0"
						type="number" placeholder="Mức giá từ" class="form-control"
						step="10000">
				</div>
				<span class="mt-2 me-2">-</span>
				<div class="form-group">
					<input name="maxPrice" th:value="${param.max}" min="0"
						type="number" placeholder="Mức giá đến" class="form-control"
						step="10000">
				</div>
			</div>
		</div>
		<div class="col-xl-2 col-lg-2 col-md-5 col-12 fill py-2">
			<select class="form-select" name="sort" aria-label="Sắp xếp">
				<option value="">Sắp xếp</option>
				<option value="price_asc">Giá Tăng Dần</option>
				<option value="price_desc">Giá Giảm Dần</option>
				<option value="name_asc">Tên A-Z</option>
				<option value="name_desc">Tên Z-A</option>
			</select>
		</div>
		<div class="col-xl-1 col-lg-2 col-md-2 col-12 fill pt-2">
			<button type="submit" class="btn btn-primary">
				<i class="bi bi-funnel"></i> Lọc
			</button>
		</div>
	</form>

	<div class="container mt-2"
		th:if="${not #lists.isEmpty(session.searchProduct)}">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-6 list_product"
				th:each="product : ${session.searchProduct}">
				<a th:href="@{|/${product.id}|}"> <img
					th:src="@{'/images/'+${product.image}}"
					class="img-fluid mt-2 rounded" alt="Product Image" width="100%">
				</a> <a th:href="@{|/${product.id}|}" class="d-block mt-2 text_product"
					th:text="${product.name}"></a>
				<h6 class="mt-2 mb-3 d-flex align-items-center fw-bold text_product">
					<span
						th:text="${#numbers.formatDecimal(product.price * (1 - product.discount / 100), 0, 'COMMA', 0, 'POINT')} + 'đ'"></span>
					<strike class="mx-2 text-secondary" th:if="${product.discount} > 0"
						th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + 'đ'"></strike>
					<span class="badge text-bg-danger text-white p-2"
						th:if="${product.discount.intValue} > 0"
						th:text="${'-' + product.discount.intValue() + '%'}"></span>
				</h6>
			</div>
		</div>
	</div>
</div>

<div class="text-center my-4"
	th:if="${#lists.isEmpty(session.searchProduct)}">
	<h2 class="h4 font-bold mb-2">Không có sản phẩm phù hợp với tìm
		kiếm!</h2>
	<p class="text-muted">Bạn có thể thử từ khóa đơn giản hơn hoặc liên
		hệ với hỗ trợ.</p>
	<img alt="empty" class="img-fluid mt-4" src="./images/emptysearch.jpg" />
</div>