<aside id="sidebar" class="js-sidebar">
	<!-- sidebar -->
	<div class="">
		<div class="my-2 d-flex justify-content-center">
			<a href="/admin"> <img class="" src="./images/logo.png"
				width="100%" height="90px" alt="" />
			</a>
		</div>
		<ul class="sidebar-nav">
			<li class="sidebar-item"><a href="/admin" class="sidebar-link">
					<i class="fa-solid fa-list pe-2"></i> Dashboard
			</a></li>
			<li class="sidebar-item" th:if="${role}"><a href="#"
				class="sidebar-link collapsed" data-bs-target="#pages"
				data-bs-toggle="collapse" aria-expanded="false"><i
					class="fa-solid fa-users pe-2"></i> Quản lý tài khoản</a>
				<ul id="pages" class="sidebar-dropdown list-unstyled collapse"
					data-bs-parent="#sidebar">
					<li class="sidebar-item"><a href="/adminStaff"
						class="sidebar-link ms-3"><i class="fa-solid fa-plus pe-2"></i>
							Thêm mới nhân viên</a></li>
					<li class="sidebar-item"><a href="/adminListStaff"
						class="sidebar-link ms-3"><i
							class="fa-solid fa-clipboard-list pe-3"></i>Danh sách nhân viên</a></li>
					<li class="sidebar-item"><a href="/adminCustomer"
						class="sidebar-link ms-3"><i class="fa-solid fa-plus pe-2"></i>
							Thêm mới khách hàng</a></li>
					<li class="sidebar-item"><a href="/adminListCustomer"
						class="sidebar-link ms-3"><i
							class="fa-solid fa-clipboard-list pe-3"></i>Danh sách khách hàng</a>
					</li>
				</ul></li>
			<li class="sidebar-item"><a href="#"
				class="sidebar-link collapsed" data-bs-target="#category"
				data-bs-toggle="collapse" aria-expanded="false"><i
					class="fa-solid fa-layer-group pe-2"></i> Quản lý danh mục </a>
				<ul id="category" class="sidebar-dropdown list-unstyled collapse"
					data-bs-parent="#sidebar">
					<li class="sidebar-item"><a href="/adminCategory"
						class="sidebar-link ms-3"><i class="fa-solid fa-plus pe-2"></i>
							Thêm danh mục</a></li>
					<li class="sidebar-item"><a href="/adminListCategory"
						class="sidebar-link ms-3"><i
							class="fa-solid fa-clipboard-list pe-3"></i>Danh sách danh mục</a></li>
				</ul></li>
			<li class="sidebar-item"><a href="#"
				class="sidebar-link collapsed" data-bs-target="#genre"
				data-bs-toggle="collapse" aria-expanded="false"><i
					class="bi bi-menu-button-wide-fill pe-2"></i> Quản lý thể loại</a>
				<ul id="genre" class="sidebar-dropdown list-unstyled collapse"
					data-bs-parent="#sidebar">
					<li class="sidebar-item"><a href="/adminGenre"
						class="sidebar-link ms-3"><i class="fa-solid fa-plus pe-2"></i>
							Thêm thể loại</a></li>
					<li class="sidebar-item"><a href="/adminListGenre"
						class="sidebar-link ms-3"><i
							class="fa-solid fa-clipboard-list pe-3"></i>Danh sách thể loại</a></li>
				</ul></li>
			<li class="sidebar-item"><a href="#"
				class="sidebar-link collapsed" data-bs-target="#posts"
				data-bs-toggle="collapse" aria-expanded="false"><i
					class="fa-solid fa-gamepad pe-2"></i> Quản lý sản phẩm </a>
				<ul id="posts" class="sidebar-dropdown list-unstyled collapse"
					data-bs-parent="#sidebar">
					<li class="sidebar-item"><a href="/adminProduct"
						class="sidebar-link ms-3"><i class="fa-solid fa-plus pe-2"></i>
							Thêm mới sản phẩm</a></li>
					<li class="sidebar-item"><a href="/adminGalary"
						class="sidebar-link ms-3"><i class="bi bi-image pe-2"></i> Thư
							viện ảnh sản phẩm</a></li>
					<li class="sidebar-item"><a href="/adminListProduct"
						class="sidebar-link ms-3"><i
							class="fa-solid fa-clipboard-list pe-3"></i>Danh sách sản phẩm</a></li>
				</ul></li>
			<li class="sidebar-item"><a href="#"
				class="sidebar-link collapsed" data-bs-target="#order"
				data-bs-toggle="collapse" aria-expanded="false"><i
					class="fa-solid fa-receipt pe-2"></i> Quản lý hóa đơn </a>
				<ul id="order" class="sidebar-dropdown list-unstyled collapse"
					data-bs-parent="#sidebar">
					<li class="sidebar-item"><a href="/adminListOrder"
						class="sidebar-link ms-3"><i
							class="fa-solid fa-file-invoice pe-3"></i> Hóa đơn</a></li>
				</ul></li>

			<li class="sidebar-item"><a href="#"
				class="sidebar-link collapsed" data-bs-target="#slide"
				data-bs-toggle="collapse" aria-expanded="false"><i
					class="bi bi-image pe-2"></i> Quản lý slide trang web</a>
				<ul id="slide" class="sidebar-dropdown list-unstyled collapse"
					data-bs-parent="#sidebar">
					<li class="sidebar-item"><a href="/adminSlide"
						class="sidebar-link ms-3"><i class="fa-solid fa-plus pe-2"></i>Thêm
							Slide trang web</a></li>
				</ul></li>
			<li class="sidebar-item"><a href="#"
				class="sidebar-link collapsed" data-bs-target="#comment"
				data-bs-toggle="collapse" aria-expanded="false"><i
					class="bi bi-chat-dots-fill pe-2"></i> Quản lý bình luận</a>
				<ul id="comment" class="sidebar-dropdown list-unstyled collapse"
					data-bs-parent="#sidebar">
					<li class="sidebar-item"><a href="/adminComment"
						class="sidebar-link ms-3"><i
							class="bi bi-chat-left-text-fill pe-2"></i>Danh sách bình luận</a></li>
				</ul></li>
			<li class="sidebar-item" th:if="${role}"><a href="#"
				class="sidebar-link collapsed" data-bs-target="#Income"
				data-bs-toggle="collapse" aria-expanded="false"><i
					class="fa-solid fa-chart-simple pe-2"></i> Thống kê </a>
				<ul id="Income" class="sidebar-dropdown list-unstyled collapse"
					data-bs-parent="#sidebar">
					<li class="sidebar-item"><a href="/statisticRevenue" class="sidebar-link ms-3"><i
							class="fa-solid fa-money-bill-trend-up pe-3"></i>Doanh thu</a></li>
				</ul></li>
		</ul>
	</div>
</aside>