<aside id="sidebar" class="js-sidebar">
	<!-- sidebar -->
	<div class="h-100">
		<div class="sidebar-logo">
			<a href="#">CLAZ Management</a>
		</div>
		<ul class="sidebar-nav">
			<li class="sidebar-header">Admin Elements</li>
			<li class="sidebar-item"><a href="dashboard.html"
				class="sidebar-link"> <i class="fa-solid fa-list pe-2"></i>
					Dashboard
			</a></li>
			<li class="sidebar-item"><a href="#"
				class="sidebar-link collapsed" data-bs-target="#pages"
				data-bs-toggle="collapse" aria-expanded="false"><i
					class="fa-solid fa-users pe-2"></i> Quản lý người dùng </a>
				<ul id="pages" class="sidebar-dropdown list-unstyled collapse"
					data-bs-parent="#sidebar">
					<li class="sidebar-item"><a href="addNV.html"
						class="sidebar-link ms-3"><i class="fa-solid fa-plus pe-2"></i>
							Tạo người dùng</a></li>
					<li class="sidebar-item"><a href="NVLIST.html"
						class="sidebar-link ms-3"><i
							class="fa-solid fa-clipboard-list pe-3"></i>Danh sách người dùng</a>
					</li>
				</ul></li>
			<li class="sidebar-item"><a href="#"
				class="sidebar-link collapsed" data-bs-target="#posts"
				data-bs-toggle="collapse" aria-expanded="false"><i
					class="fa-solid fa-gamepad pe-2"></i> Quản lý sản phẩm </a>
				<ul id="posts" class="sidebar-dropdown list-unstyled collapse"
					data-bs-parent="#sidebar">
					<li class="sidebar-item"><a href="addSP.html"
						class="sidebar-link ms-3"><i class="fa-solid fa-plus pe-2"></i>
							Thêm sản phẩm</a></li>
					<li class="sidebar-item"><a href="SPLIST.html"
						class="sidebar-link ms-3"><i
							class="fa-solid fa-clipboard-list pe-3"></i>Danh sách sản phẩm</a></li>
				</ul></li>
			<li class="sidebar-item"></li>
			<a href="#" class="sidebar-link collapsed" data-bs-target="#category"
				data-bs-toggle="collapse" aria-expanded="false"><i
				class="fa-solid fa-layer-group pe-2"></i> Quản lý danh mục </a>
			<ul id="category" class="sidebar-dropdown list-unstyled collapse"
				data-bs-parent="#sidebar">
				<li class="sidebar-item"><a href="addDM.html"
					class="sidebar-link ms-3"><i class="fa-solid fa-plus pe-2"></i>
						Thêm danh mục</a></li>
				<li class="sidebar-item"><a href="DANHMUCLIST.html"
					class="sidebar-link ms-3"><i
						class="fa-solid fa-clipboard-list pe-3"></i>Danh sách danh mục</a></li>
			</ul>
			</li>
			<li class="sidebar-item"></li>
			<a href="#" class="sidebar-link collapsed" data-bs-target="#order"
				data-bs-toggle="collapse" aria-expanded="false"><i
				class="fa-solid fa-receipt pe-2"></i> Quản lý hóa đơn </a>
			<ul id="order" class="sidebar-dropdown list-unstyled collapse"
				data-bs-parent="#sidebar">
				<li class="sidebar-item"><a href="HDLIST.html"
					class="sidebar-link ms-3"><i
						class="fa-solid fa-file-invoice pe-3"></i> Hóa đơn</a></li>
				<li class="sidebar-item"><a href="HDCTLIST.html"
					class="sidebar-link ms-3"><i
						class="fa-solid fa-circle-info pe-3"></i>Chi tiết hóa đơn</a></li>
			</ul>
			</li>
			<li class="sidebar-item"></li>
			<a href="#" class="sidebar-link collapsed" data-bs-target="#Income"
				data-bs-toggle="collapse" aria-expanded="false"><i
				class="fa-solid fa-chart-simple pe-2"></i> Thống kê </a>
			<ul id="Income" class="sidebar-dropdown list-unstyled collapse"
				data-bs-parent="#sidebar">
				<li class="sidebar-item"><a href="#" class="sidebar-link ms-3"><i
						class="fa-solid fa-money-bill-trend-up pe-3"></i>Doanh thu tháng</a></li>
				<li class="sidebar-item"><a href="#" class="sidebar-link ms-3"><i
						class="fa-solid fa-money-bill-trend-up pe-3"></i>Doanh thu năm</a></li>
			</ul>
			</li>
			<li class="sidebar-header">
				<p class="fs-6">Logged in as: &nbsp;Admin</p>
			</li>
		</ul>
	</div>
</aside>