<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<!-- footer -->
	<footer class="mt-4">
		<div class="w-100 bg-light">
			<div class="container">
				<a href=""> <img alt="" class="icon-payment"
					src="./images/b77a2122717d76696bd2b87d7125fd47.svg"> <img
					alt="" class="icon-payment"
					src="./images/72a3a36fc7c66085b3f442940ba45fde.svg"> <img
					alt="" class="icon-payment"
					src="./images/464c7c79044dea88e86adf0e1b9c064c.svg"> <img
					alt="" class="icon-payment"
					src="./images/ddb866eb1214c914ea62417879046b99.svg"> <span>và
						nhiều hình thức thanh toán khác</span>
				</a>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div
					class="col-md-6 col-lg-4 col-xl-3 mt-3 d-flex header_hover">
					<a href="/" class="d-flex overflow-hidden align-items-center">
						<img src="./images/logo2.png" width="100%" height="90px" alt="" />
					</a>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3 mt-3">
					<h5 class="text-uppercase mb-3 fw-bold">Liên kết Hữu ích</h5>
					<p>
						<a href="#" class="text-decoration-none fw-medium footer-btn">Đăng
							nhập</a>
					</p>
					<p>
						<a href="#" class="text-decoration-none fw-medium footer-btn">Đăng
							ký</a>
					</p>
					<p>
						<a href="#" class="text-decoration-none fw-medium footer-btn">Giỏ
							hàng</a>
					</p>
					<p>
						<a href="#" class="text-decoration-none fw-medium footer-btn">Sản
							phẩm đã mua</a>
					</p>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3 mt-3">
					<h5 class="text-uppercase mb-3 fw-bold">Liên hệ</h5>
					<p class="fw-medium">
						Hotline tự động <span class="text-danger">123456789</span>
					</p>
					<p></p>
					<p>
						<a href="#" class="text-decoration-none fw-medium footer-btn">Liên
							hệ hỗ trợ</a>
					</p>
					<p>
						<a href="#" class="text-decoration-none fw-medium footer-btn">Chat
							với CSKH</a>
					</p>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3 mt-3">
					<h5 class="text-uppercase mb-3 fw-bold">Về CLAZ</h5>
					<p>
						<a href="#" class="text-decoration-none fw-medium footer-btn">Game
							bản quyền là gì?</a>
					</p>
					<p>
						<a href="#" class="text-decoration-none fw-medium footer-btn">Giới
							thiệu CLAZ</a>
					</p>
					<p>
						<a href="#" class="text-decoration-none fw-medium footer-btn">Điều
							khoản dịch vụ</a>
					</p>
					<p>
						<a href="#" class="text-decoration-none fw-medium footer-btn">Chính
							sách bảo mật</a>
					</p>
				</div>
			</div>
			<div class="container p-0">
				<hr class="mb-4 mt-4">
				<div class="row align-item-center">
					<div class="col-md-7 col-lg-8">
						<p>Copyright @2024 All rights reserved by CLAZ</p>
					</div>
					<div class="col-md-5 col-lg-4">
						<div class="text-center text-md-end">
							<ul class="list-unstyled list-inline">
								<li class="list-group-item"><a href="#"
									class="btn-floating btn-sm text-dark" style="font-size: 23px;"><i
										class="bi bi-facebook"></i></a></li>
								<li class="list-group-item"><a href="#"
									class="btn-floating btn-sm text-dark" style="font-size: 23px;"><i
										class="bi bi-twitter"></i></a></li>
								<li class="list-group-item"><a href="#"
									class="btn-floating btn-sm text-dark" style="font-size: 23px;"><i
										class="bi bi-envelope-at-fill"></i></a></li>
								<li class="list-group-item"><a href="#"
									class="btn-floating btn-sm text-dark" style="font-size: 23px;"><i
										class="bi bi-linkedin"></i></a></li>
								<li class="list-group-item"><a href="#"
									class="btn-floating btn-sm text-dark" style="font-size: 23px;"><i
										class="bi bi-youtube"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>