<div class="container">
	<div class="row">
		<div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 mt-3">
			<div class="d-flex">
				<ul class="navbar-nav border rounded px-3 d-xl-block d-none me-4"
					style="width: 335px;">
					<li class="nav-item" th:each="cate : ${cates}">
						<a class="nav-link active fw-semibold" aria-current="page" th:href="@{/category/{id}(id=${cate.id})}">
							<i class="bi bi-bookmark-heart-fill"></i>&nbsp;&nbsp;<span th:text="${cate.name}"></span>
						</a>
					</li>
				</ul>
				<div id="carouselExampleIndicators"
					class="carousel slide carousel-fade caro" data-bs-ride="carousel"
					data-bs-interval="2500">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="0" class="active" aria-current="true"
							aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="2" aria-label="Slide 3"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="3" aria-label="Slide 4"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="4" aria-label="Slide 5"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="5" aria-label="Slide 6"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="6" aria-label="Slide 7"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="7" aria-label="Slide 8"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="8" aria-label="Slide 9"></button>
					</div>
					<div class="carousel-inner rounded">
						<div class="carousel-item active">
							<img src="images/Netflix-81012.png" class="d-block" width="100%"
								alt="..." />
						</div>
						<div class="carousel-item">
							<img src="images/banner2.png" class="d-block" width="100%"
								alt="..." />
						</div>
						<div class="carousel-item">
							<img src="images/banner3.png" class="d-block" width="100%"
								alt="..." />
						</div>
						<div class="carousel-item">
							<img src="images/banner4.png" class="d-block" width="100%"
								alt="..." />
						</div>
						<div class="carousel-item">
							<img src="images/banner5.png" class="d-block" width="100%"
								alt="..." />
						</div>
						<div class="carousel-item">
							<img src="images/banner6.png" class="d-block" width="100%"
								alt="..." />
						</div>
						<div class="carousel-item">
							<img src="images/banner7.png" class="d-block" width="100%"
								alt="..." />
						</div>
						<div class="carousel-item">
							<img src="images/banner9.png" class="d-block" width="100%"
								alt="..." />
						</div>
						<div class="carousel-item">
							<img src="images/banner10.png" class="d-block" width="100%"
								alt="..." />
						</div>
					</div>
					<button class="carousel-control-prev" type="button"
						data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button"
						data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
		<!-- Bên phải (4 phần) -->
		<div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 mt-2">
			<div class="row">
				<div class="col-xl-12 col-lg-6 col-md-6 col-6 parent1 list_product">
					<img src="images/VPN (2)-23095.png" class="img-fluid rounded"
						alt="Right Image 1" width="100%">
				</div>
				<div class="col-xl-12 col-md-6 col-6 parent2 list_product">
					<img src="images/Spotify (1)-72615.png" class="img-fluid rounded"
						alt="Right Image 2" width="100%">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container mt-2">
	<div class="row">
		<div class="col-md-3 col-6 list_product">
			<img src="images/Steam (1)-46684.png" class="img-fluid mt-2 rounded"
				alt="Right Image 2" width="100%">
		</div>
		<div class="col-md-3 col-6 list_product">
			<img src="images/ThietKe-36571.png" class="img-fluid mt-2 rounded"
				alt="Right Image 2" width="100%">
		</div>
		<div class="col-md-3 col-6 list_product">
			<img src="images/AntiVirus99k-61638.png"
				class="img-fluid rounded parent3" alt="Right Image 2" width="100%">
		</div>
		<div class="col-md-3 col-6 list_product">
			<img src="images/Microsoft Office (4)-77805.png"
				class="img-fluid rounded parent3" alt="Right Image 2" width="100%">
		</div>
	</div>
</div>
<br>
<div class="container mt-2">
	<div class="row">
		<div class="col-xl-10 col-8">
			<h4 class="fw-bolder">Sản phẩm nổi bật</h4>
			<h6 class="text-secondary text_product">Danh sách những sản phẩm
				theo xu hướng mà có thể bạn sẽ thích</h6>
		</div>
		<div class="col-xl-2 col-4 d-flex justify-content-end">
			<a href="" class="btn btn-primary " style="height: 40px;">Khám
				Phá</a>
		</div>
	</div>
</div>
<div class="container mt-2">

	<div class="row">
		<div class="col-lg-3 col-md-4 col-6 list_product"
			th:each="product : ${products}">
			<a th:href="@{/product/{id}(id=${product.id})}"> <img
				th:src="@{'/images/'+${product.image}}"
				class="img-fluid mt-2 rounded" alt="Product Image" width="100%">
			</a> <a th:href="@{/product/{id}(id=${product.id})}"
				class="d-block mt-2 text_product" th:text="${product.name}"></a>
			<h6 class="mt-2 mb-3 d-flex align-items-center fw-bold text_product">
				<span th:text="${product.price} + 'đ'"></span> <strike
					class="mx-2 text-secondary" th:text="${product.price} + 'đ'"></strike>
				<span class="badge text-bg-danger text-white p-2"
					th:text="${product.discount + '%'}"></span>
			</h6>
		</div>
	</div>
</div>
<div class="container">
	<hr>
	<h4 class="mt-4 fw-bolder">Từ Khóa Nổi Bật</h4>
	<div class="row mt-4">
		<div class="col-md-2 col-4 list_keyword">
			<button type="button" class="btn rounded text-white fw-semibold"
				style="width: 100%; height: 65px; background-color: #3d5b81;">Làm
				Việc</button>
		</div>
		<div class="col-md-2 col-4 list_keyword">
			<button type="button" class="btn rounded text-white fw-semibold"
				style="width: 100%; height: 65px; background-color: #98c0d9;">Giải
				Trí</button>
		</div>
		<div class="col-md-2 col-4 list_keyword">
			<button type="button" class="btn rounded text-white fw-semibold"
				style="width: 100%; height: 65px; background-color: #ee6b4d;">Học
				Tập</button>
		</div>
		<div class="col-md-2 col-4 list_keyword">
			<button type="button"
				class="btn rounded text-white fw-semibold noibat"
				style="width: 100%; height: 65px; background-color: #293241;">Spotify</button>
		</div>
		<div class="col-md-2 col-4 list_keyword">
			<button type="button"
				class="btn  rounded text-white fw-semibold noibat"
				style="width: 100%; height: 65px; background-color: #545a66;">Wallet</button>
		</div>
		<div class="col-md-2 col-4 list_keyword">
			<button type="button"
				class="btn rounded text-white fw-semibold noibat"
				style="width: 100%; height: 65px; background-color: #757c86;">Youtube</button>
		</div>
	</div>
</div>

<div class="wrapper my-4">
	<div class="bg-image">
		<div class="container hot-product">
			<div class="row mx-1">
				<div class="col-xl-10 col-8">
					<div class="d-flex justify-content-center hot-text py-2 px-3">
						<i class="bi bi-graph-up-arrow fs-4 me-2 text-danger"></i>
						<h4 class="fw-bolder text-white text-truncate">#Sản phẩm bán
							chạy nhất</h4>
					</div>
				</div>
				<div class="col-xl-2 col-4 d-flex justify-content-end">
					<a href="" class="btn btn-primary " style="height: 40px;">Khám
						Phá</a>
				</div>
			</div>

			<div class="row mt-4">
				<div class="col-lg-3 col-md-4 col-6 list_product">
					<a href=""> <img src="./images/black myth wukong-13641.jpg"
						class="img-fluid mt-2 rounded" alt="Right Image 2" width="100%">
					</a> <a href="" class="d-block mt-2 text_product text-white">Black
						Myth: Wukong Black Black Myth: Wukong Black</a>
					<h6
						class="mt-2 mb-3 d-flex align-items-center fw-bold text_product text-white">
						122.000.000đ<strike class="mx-2 text-secondary">221.000.000đ</strike><span
							class="badge text-bg-danger text-white p-2">-62%</span>
					</h6>
				</div>
				<div class="col-lg-3 col-md-4 col-6 list_product">
					<a href=""> <img src="./images/black myth wukong-13641.jpg"
						class="img-fluid mt-2 rounded" alt="Right Image 2" width="100%">
					</a> <a href="" class="d-block mt-2 text_product text-white">Black
						Myth: Wukong Black Black Myth: Wukong Black</a>
					<h6
						class="mt-2 mb-3 d-flex align-items-center fw-bold text_product text-white">
						122.000.000đ<strike class="mx-2 text-secondary">221.000.000đ</strike><span
							class="badge text-bg-danger text-white p-2">-62%</span>
					</h6>
				</div>
				<div class="col-lg-3 col-md-4 col-6 list_product">
					<a href=""> <img src="./images/black myth wukong-13641.jpg"
						class="img-fluid mt-2 rounded" alt="Right Image 2" width="100%">
					</a> <a href="" class="d-block mt-2 text_product text-white">Black
						Myth: Wukong Black Black Myth: Wukong Black</a>
					<h6
						class="mt-2 mb-3 d-flex align-items-center fw-bold text_product text-white">
						122.000.000đ<strike class="mx-2 text-secondary">221.000.000đ</strike><span
							class="badge text-bg-danger text-white p-2">-62%</span>
					</h6>
				</div>
				<div class="col-lg-3 col-md-4 col-6 list_product">
					<a href=""> <img src="./images/black myth wukong-13641.jpg"
						class="img-fluid mt-2 rounded" alt="Right Image 2" width="100%">
					</a> <a href="" class="d-block mt-2 text_product text-white">Black
						Myth: Wukong Black Black Myth: Wukong Black</a>
					<h6
						class="mt-2 mb-3 d-flex align-items-center fw-bold text_product text-white">
						122.000.000đ<strike class="mx-2 text-secondary">221.000.000đ</strike><span
							class="badge text-bg-danger text-white p-2">-62%</span>
					</h6>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container mt-2">
	<div class="row">
		<div class="col-md-6 col-8">
			<h4 class="fw-bolder">Game Trên Steam</h4>
			<h6>Những trò chơi được đánh giá tốt, nội dung hấp dẫn thu hút
				đang chờ bạn</h6>
		</div>
		<div class="col-md-6 d-flex justify-content-end col-4">
			<button type="button" class="btn btn-primary " style="height: 40px;">Khám
				Phá</button>
		</div>
	</div>
</div>
<div class="container mt-2">

	<div class="row">
		<div class="col-lg-3 col-md-4 col-6 list_product"
			 th:each="product : ${gamesteam}">
			<a th:href="@{/product/{id}(id=${product.id})}"> <img
					th:src="@{'/images/'+${product.image}}"
					class="img-fluid mt-2 rounded" alt="Product Image" width="100%">
			</a> <a th:href="@{/product/{id}(id=${product.id})}"
					class="d-block mt-2 text_product" th:text="${product.name}"></a>
			<h6 class="mt-2 mb-3 d-flex align-items-center fw-bold text_product">
				<span th:text="${product.price} + 'đ'"></span> <strike
					class="mx-2 text-secondary" th:text="${product.price} + 'đ'"></strike>
				<span class="badge text-bg-danger text-white p-2"
					  th:text="${product.discount + '%'}"></span>
			</h6>
		</div>
	</div>
</div>
<!--<div class="container mt-2">-->
<!--	<hr>-->
<!--	<br>-->
<!--	<div class="row">-->
<!--		<div class="col-md-6 col-8">-->
<!--			<h4 class="fw-bolder">Sản phẩm mới</h4>-->
<!--		</div>-->
<!--		<div class="col-md-6 d-flex justify-content-end col-4">-->
<!--			<button type="button" class="btn btn-primary " style="height: 40px;">Khám-->
<!--				Phá</button>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--<div class="container mt-2">-->
<!--	<div class="row">-->
<!--		<c:forEach var="item" items="${listnew}">-->
<!--			<div class="col-md-3 col-6">-->
<!--				<a href="/product/detail/${item.id}"> <img-->
<!--					src="images/${item.image}" class="img-fluid mt-2 rounded"-->
<!--					alt="Right Image 2" width="100%">-->
<!--				</a> <a href="/product/detail/${item.id}" class="d-block mt-2">${item.name}</a>-->
<!--				<h6 class="mt-2 mb-3 position-relative" style="font-weight: 500;">-->
<!--					<fmt:formatNumber value="${item.price}"></fmt:formatNumber>-->
<!--					đ &nbsp;<strike style="color: grey;">1.000.000đ</strike>&nbsp;&nbsp;<span-->
<!--						class="border border-danger rounded bg-danger text-white px-2 py-1 special-span">-62%</span>-->
<!--				</h6>-->
<!--			</div>-->
<!--		</c:forEach>-->
<!--	</div>-->
<!--</div>-->
<div class="container mt-2">
	<hr>
	<br>
	<div class="row">
		<div class="col-md-6 col-8">
			<h4 class="fw-bolder">Học Tập</h4>
		</div>
		<div class="col-md-6 d-flex justify-content-end col-4">
			<button type="button" class="btn btn-primary " style="height: 40px;">Khám
				Phá</button>
		</div>
	</div>
</div>
<div class="container mt-2">

	<div class="row">
		<div class="col-lg-3 col-md-4 col-6 list_product"
			 th:each="product : ${hoctap}">
			<a th:href="@{/product/{id}(id=${product.id})}"> <img
					th:src="@{'/images/'+${product.image}}"
					class="img-fluid mt-2 rounded" alt="Product Image" width="100%">
			</a> <a th:href="@{/product/{id}(id=${product.id})}"
					class="d-block mt-2 text_product" th:text="${product.name}"></a>
			<h6 class="mt-2 mb-3 d-flex align-items-center fw-bold text_product">
				<span th:text="${product.price} + 'đ'"></span> <strike
					class="mx-2 text-secondary" th:text="${product.price} + 'đ'"></strike>
				<span class="badge text-bg-danger text-white p-2"
					  th:text="${product.discount + '%'}"></span>
			</h6>
		</div>
	</div>
</div>
<div class="container mt-2">
	<hr>
	<br>
	<div class="row">
		<div class="col-md-6 col-8">
			<h4 class="fw-bolder">Làm việc</h4>
		</div>
		<div class="col-md-6 d-flex justify-content-end col-4">
			<button type="button" class="btn btn-primary " style="height: 40px;">Khám
				Phá</button>
		</div>
	</div>
</div>
<div class="container mt-2">

	<div class="row">
		<div class="col-lg-3 col-md-4 col-6 list_product"
			 th:each="product : ${lamviec}">
			<a th:href="@{/product/{id}(id=${product.id})}"> <img
					th:src="@{'/images/'+${product.image}}"
					class="img-fluid mt-2 rounded" alt="Product Image" width="100%">
			</a> <a th:href="@{/product/{id}(id=${product.id})}"
					class="d-block mt-2 text_product" th:text="${product.name}"></a>
			<h6 class="mt-2 mb-3 d-flex align-items-center fw-bold text_product">
				<span th:text="${product.price} + 'đ'"></span> <strike
					class="mx-2 text-secondary" th:text="${product.price} + 'đ'"></strike>
				<span class="badge text-bg-danger text-white p-2"
					  th:text="${product.discount + '%'}"></span>
			</h6>
		</div>
	</div>
</div>