<div class="container">
	<!-- Cart Empty -->
	<div class="cart-details w-100 my-4" ng-if="listItem.length <= 0">
		<h3 class="fw-bold text-muted-custom">Giỏ hàng trống!</h3>
		<p class="text-muted-custom">Thêm sản phẩm vào giỏ và quay lại
			trang này để thanh toán nha bạn <3</p>
		<img aria-hidden="true" alt="cat-in-box"
			src="https://cdn.divineshop.vn/static/4e0db8ffb1e9cac7c7bc91d497753a2c.svg" />
	</div>

	<!-- Payment Details -->
	<div class="row" ng-if="listItem.length > 0">
		<div class="col-xl-8 col-lg-8 col-md-12 p-4">
			<div class="d-flex align-items-center gap-2">
				<h4 class="fw-bold">Giỏ hàng</h4>
				<span>({{totalQuantity}} sản phẩm)</span>
			</div>

			<div class="row border rounded p-3 mt-3" ng-repeat="item in listItem">
				<div class="col-xl-4 col-md-4 col-sm-12 p-0">
					<a ng-href="{{item.productID}}"><img
						ng-src="./images/{{item.image}}" class="img-fluid rounded"
						alt="Right Image 2" width="100%"></a>
				</div>
				<div class="col-xl-8 col-md-8 col-sm-12 product-content">
					<div class="row">
						<div class="col-xl-6 col-md-6 col-sm-12 product-name">
							<a ng-href="{{item.productID}}"
								class="d-block fw-bold text-dark text-decoration-none">{{item.name}}</a>
							<!-- <span> <a class="text-secondary text-decoration-none"
								href="">Action</a>, <a
								class="text-secondary text-decoration-none" href="">Adventure</a>,
								<a class="text-secondary text-decoration-none" href="">RPG</a>
							</span> -->
						</div>

						<div class="d-block d-md-none p-0 product-qty">
							<h6 class="d-flex align-items-center fw-bold my-2">
								{{ item.price * (1 - item.discount / 100) | number:0 }}đ<strike
									class="mx-2 text-secondary" ng-if="item.discount > 0">{{item.price
									| number}}đ</strike><span class="badge text-bg-danger text-white p-2"
									ng-if="item.discount > 0">-{{item.discount}}%</span>
							</h6>
						</div>

						<div
							class="col-xl-3 col-md-3 col-sm-3 col-4 d-flex p-0 product-qty">
							<div class="input-group mb-4">
								<button class="btn btn-quantity pt-1"
									ng-click="updateItem(item.id)">-</button>
								<input type="text"
									class="form-control text-center text-primary btn-quantity"
									ng-model="item.quantity" ng-change="onQuantityChange(item)"
									min="1">
								<button class="btn btn-quantity pt-1"
									ng-click="increaseQty(item.productID)">+</button>

							</div>
						</div>

						<div class="col-xl-3 col-md-3 d-none d-md-block">
							<h6 class=" fw-bold p-1 d-flex justify-content-end fs-5">{{
								item.price * (1 - item.discount / 100) | number:0 }}đ</h6>
							<div class="d-flex justify-content-end">
								<span class="badge text-bg-danger text-white tex-sale p-1"
									ng-if="item.discount > 0">-{{item.discount}}%</span> <strike
									class="mx-2 text-secondary fw-medium tex-sale me-1"
									ng-if="item.discount > 0">{{item.price | number}}đ</strike>
							</div>
						</div>
					</div>
					<hr class="mb-2 ss">
					<div class="d-flex justify-content-between align-items-center">
						<span><i class="bi bi-box2"></i> Tình Trạng: <span
							class="text-success">Còn Hàng</span> </span> <a href=""
							ng-click="deleteItem(item.id)"> <i
							class="bi bi-trash3-fill text-danger fs-5"></i>
						</a>

					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-12 p-4">
			<h4 class="fw-bold">Thanh toán</h4>
			<p class="d-flex justify-content-between my-2">
				Tổng số lượng: <span class="font-bold">{{totalQuantity}}</span>
			</p>
			<p class="d-flex justify-content-between my-2">
				Tổng giá trị sản phẩm: <span>{{totalPrice | number:0}}đ</span>
			</p>
			<hr class="my-2">
			<p class="d-flex justify-content-between my-2">
				Tổng giá trị phải thanh toán: <span class="fw-bold">{{totalPrice
					| number:0}}đ</span>
			</p>

			<p class="mb-2 text-center text-secondary">Thanh Toán, Không cần
				nạp tiền</p>

			<button ng-click="paymentByVNPay()"
				class="btn w-100 mb-3 btn-banking">
				<img class="me-2"
					src="https://cdn.divineshop.vn/static/ed4044413ba8489903d4f27bac88aa02.svg"
					alt="icon" width="30px" height="30px"> Mua siêu tốc với VNPay
			</button>
			<button ng-click="paymentByMoMo()" class="btn w-100 btn-momo">
				<img class="me-2"
					src="https://cdn.divineshop.vn/static/b77a2122717d76696bd2b87d7125fd47.svg"
					alt="icon" style="width: 30px; height: 30px;"> Mua siêu tốc
				với MoMo
			</button>
		</div>
	</div>
</div>

