
<nav class="navbar navbar-expand-sm navbar-white bg-white">
	<div class="container-fluid">
		<button class="navbar-toggler d-lg-none" type="button"
			data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
			aria-controls="offcanvasNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand ms-3" href="javascript:void(0)">Logo</a>

		<form class="d-flex ms-auto">
			<input class="form-control me-2" type="text" placeholder="Search">
		</form>
	</div>
</nav>
<div class="row">
	<hr>
	<div class="offcanvas offcanvas-start" tabindex="-1"
		id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
				aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<h6 class="fw-bold">Giới thiệu</h6>
					<ul class="list-unstyled" style="font-size: 14px;">
						<li><a href="/buymain_dashboard" class="nav-link text-dark">Lý
								do mua game</a></li>
						<li><a href="/about_dashboard" class="nav-link text-dark">Giới
								thiệu Claz Shop</a></li>
						<li><a href="#" class="nav-link text-dark">Chính sách bảo
								hành Youtube</a></li>
						<li><a href="#" class="nav-link text-dark">Liên hệ và hỗ
								trợ</a></li>
					</ul>
				</li>


				<li class="nav-item">
					<h6 class="fw-bold">Hướng dẫn mua hàng</h6>
					<ul class="list-unstyled" style="font-size: 14px;">
						<li><a href="/signup_dashboard" class="nav-link text-dark">Hướng
								dẫn tạo tài khoản</a></li>
						<li><a href="/account_dashboard" class="nav-link text-dark">Quản
								lí tài khoản</a></li>
						<li><a href="/security_dashboard" class="nav-link text-dark">Bảo
								mật</a></li>
						<li><a href="/payment_dashboard" class="nav-link text-dark">Hướng
								dẫn thanh toán</a></li>
						<li><a href="/payment_dashboard" class="nav-link text-dark">Hướng
								dẫn thanh toán VNPay</a></li>
						<li><a href="/payment_dashboard" class="nav-link text-dark">Hướng
								dẫn thanh toán MoMo</a></li>
						<li><a href="/cart_dashboard" class="nav-link text-dark">Quản
								lí giỏ hàng</a></li>
						<li><a href="/bonus_dashboard" class="nav-link text-dark">Hướng
								dẫn nạp tiền</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-lg-3 d-none d-lg-block fixed-sidebar">
		<div class="container text-wrap sticky-sidebar"
			style="max-height: 705px; overflow-y: auto;">
			<h6 class="fw-bold">Giới thiệu</h6>
			<ul class="list-unstyled" style="font-size: 14px;">
				<li><a href="/buymain_dashboard" class="nav-link text-dark">Lý
						do mua game</a></li>
				<li><a href="/about_dashboard" class="nav-link text-dark">Giới
						thiệu Claz Shop</a></li>
				<li><a href="#" class="nav-link text-dark">Chính sách bảo
						hành Youtube</a></li>
				<li><a href="#" class="nav-link text-dark">Liên hệ và hỗ
						trợ</a></li>
			</ul>
			<h6 class="fw-bold">Hướng dẫn mua hàng</h6>
			<ul class="list-unstyled" style="font-size: 14px;">
				<li><a href="/signup_dashboard" class="nav-link text-dark">Hướng
						dẫn tạo tài khoản</a></li>
				<li><a href="/account_dashboard" class="nav-link text-dark">Quản
						lí tài khoản</a></li>
				<li><a href="/security_dashboard" class="nav-link text-dark">Bảo
						mật</a></li>
				<li><a href="/payment_dashboard" class="nav-link text-dark">Hướng
						dẫn thanh toán</a></li>
				<li><a href="/vnpay_dashboard" class="nav-link text-dark">Hướng
						dẫn thanh toán VNPay</a></li>
				<li><a href="/momo_dashboard" class="nav-link text-dark">Hướng
						dẫn thanh toán MoMo</a></li>
				<li><a href="/cart_dashboard" class="nav-link text-dark">Quản
						lí giỏ hàng</a></li>
				<li><a href="/bonus_dashboard" class="nav-link text-dark">Hướng
						dẫn nạp tiền</a></li>
			</ul>

			<h6 class="fw-bold">Bảo hành</h6>
			<ul class="list-unstyled" style="font-size: 14px;">
				<li><a href="#" class="nav-link text-dark">Thông tin bảo
						hành chung</a></li>
				<li><a href="#" class="nav-link text-dark">Chính sách bảo
						hành Netflix </a></li>
				<li><a href="#" class="nav-link text-dark">Chính sách bảo
						hành Spotify</a></li>
				<li><a href="#" class="nav-link text-dark">Chính sách bảo
						hành Youtube</a></li>
				<li><a href="#" class="nav-link text-dark">Liên hệ và hỗ
						trợ</a></li>
			</ul>

			<h6 class="fw-bold">Ưu đãi</h6>
			<ul class="list-unstyled" style="font-size: 14px;">
				<li><a href="#" class="nav-link text-dark">Ưu đãi cho khách
						hàng mới</a></li>
			</ul>

		</div>
	</div>