<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Người Dùng List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styleOfDashBoard.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar" class="js-sidebar">
            <!-- sidebar -->
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="#">CLAZ Management</a>
                </div>
                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Admin Elements
                    </li>
                    <li class="sidebar-item">
                        <a href="dashboard.html" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                            aria-expanded="false"><i class="fa-solid fa-users pe-2"></i>
                            Quản lý người dùng
                        </a>
                        <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="addNV.html" class="sidebar-link ms-3"><i class="fa-solid fa-plus pe-2"></i> Tạo
                                    người
                                    dùng</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="NVLIST.html" class="sidebar-link ms-3"><i
                                        class="fa-solid fa-clipboard-list pe-3"></i>Danh sách người dùng</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#posts" data-bs-toggle="collapse"
                            aria-expanded="false"><i class="fa-solid fa-gamepad pe-2"></i>
                            Quản lý sản phẩm
                        </a>
                        <ul id="posts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="addSP.html" class="sidebar-link ms-3"><i class="fa-solid fa-plus pe-2"></i>
                                    Thêm sản
                                    phẩm</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="SPLIST.html" class="sidebar-link ms-3"><i
                                        class="fa-solid fa-clipboard-list pe-3"></i>Danh sách sản phẩm</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item"></li>
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#category" data-bs-toggle="collapse"
                        aria-expanded="false"><i class="fa-solid fa-layer-group pe-2"></i>
                        Quản lý danh mục
                    </a>
                    <ul id="category" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="addDM.html" class="sidebar-link ms-3"><i class="fa-solid fa-plus pe-2"></i> Thêm
                                danh
                                mục</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="DANHMUCLIST.html" class="sidebar-link ms-3"><i
                                    class="fa-solid fa-clipboard-list pe-3"></i>Danh
                                sách danh mục</a>
                        </li>
                    </ul>
                    </li>
                    <li class="sidebar-item"></li>
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#order" data-bs-toggle="collapse"
                        aria-expanded="false"><i class="fa-solid fa-receipt pe-2"></i>
                        Quản lý hóa đơn
                    </a>
                    <ul id="order" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="HDLIST.html" class="sidebar-link ms-3"><i
                                    class="fa-solid fa-file-invoice pe-3"></i> Hóa
                                đơn</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="HDCTLIST.html" class="sidebar-link ms-3"><i
                                    class="fa-solid fa-circle-info pe-3"></i>Chi tiết
                                hóa đơn</a>
                        </li>
                    </ul>
                    </li>
                    <li class="sidebar-item"></li>
                    <a href="#" class="sidebar-link collapsed" data-bs-target="#Income" data-bs-toggle="collapse"
                        aria-expanded="false"><i class="fa-solid fa-chart-simple pe-2"></i>
                        Thống kê
                    </a>
                    <ul id="Income" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link ms-3"><i
                                    class="fa-solid fa-money-bill-trend-up pe-3"></i>Doanh thu tháng</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link ms-3"><i
                                    class="fa-solid fa-money-bill-trend-up pe-3"></i>Doanh thu năm</a>
                        </li>
                    </ul>
                    </li>
                    <li class="sidebar-header">
                        <p class="fs-6">Logged in as: &nbsp;Admin</p>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <button class="btn" id="sidebar-toggle" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                <img src="images/profile.jpg" class="avatar img-fluid rounded" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">Profile</a>
                                <a href="#" class="dropdown-item">Setting</a>
                                <a href="#" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <!-- Content -->
                    <div class="card border-0">
                        <div class="card-header">
                            <h5 class="card-title">
                                Table
                            </h5>
                            <h6 class="card-subtitle text-muted">
                                Người Dùng
                            </h6>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Username</th>
                                        <th scope="col">Password</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Fullname</th>
                                        <th scope="col">Vai Trò</th>
                                        <th scope="col">Hoạt động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <td>Záp đẹp try</td>
                                    <td>*******</td>
                                    <td>aduzapdeptry@gmail.com</td>
                                    <td>Hoàng Giáp</td>
                                    <td>Admin</td>
                                    <td scope="row">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="bg-warning text-white btn btn-sm"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                            Chỉnh Sửa
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Cập nhật
                                                            người dùng</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="col-xs-12 col-lg-6 mx-auto">
                                                            <div class="form-outline mb-4">
                                                                <label class="form-label"
                                                                    for="form2Example1">Username:</label>
                                                                <input value="" type="text" class="form-control" />
                                                                <form:errors cssClass="msg_errors" />
                                                            </div>

                                                            <div class="form-outline mb-4">
                                                                <label class="form-label" for="form2Example2">Mật
                                                                    khẩu:</label>
                                                                <input value="" type="password" class="form-control" />
                                                                <form:errors cssClass="msg_errors" />
                                                            </div>

                                                            <div class="form-outline mb-4">
                                                                <label class="form-label" for="form2Example2">Xác Nhận
                                                                    Mật Khẩu:</label>
                                                                <input value="" type="password" class="form-control" />
                                                                <form:errors cssClass="msg_errors" />
                                                            </div>

                                                            <div class="form-outline mb-4">
                                                                <label class="form-label" for="form2Example2">Họ và
                                                                    tên:</label>
                                                                <input value="" type="text" class="form-control" />
                                                                <form:errors cssClass="msg_errors" />
                                                            </div>

                                                            <div class="form-outline mb-4">
                                                                <label class="form-label"
                                                                    for="form2Example2">Email:</label>
                                                                <input value="" type="email" class="form-control" />
                                                                <form:errors cssClass="msg_errors" />
                                                            </div>

                                                            <div class="row mb-4">
                                                                <label class="form-label" for="form2Example2">Vai
                                                                    trò:</label>
                                                                <div class="col d-flex">
                                                                    <input type="radio" itemCssClass="radio-spacing" />
                                                                    &nbsp;&nbsp;Admin&nbsp;&nbsp;&nbsp;&nbsp;<br>
                                                                    <input type="radio" itemCssClass="radio-spacing" />
                                                                    &nbsp;&nbsp;User<br>
                                                                    <form:errors path="admin" cssClass="msg_errors" />
                                                                </div>
                                                            </div>

                                                            <!-- Submit button -->
                                                            <div class="d-flex justify-content-center mb-4">
                                                                <button
                                                                    class="btn btn-outline-success me-2">Thêm</button>
                                                                <button class="btn btn-outline-info">Mới</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Cập Nhật</button>
                                                        <button type="button" class="btn btn-danger">Xóa</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            <a href="#" class="theme-toggle">
                <i class="fa-regular fa-moon"></i>
                <i class="fa-regular fa-sun"></i>
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const sidebarToggle = document.querySelector("#sidebar-toggle");
        sidebarToggle.addEventListener("click", function () {
            document.querySelector("#sidebar").classList.toggle("collapsed");
        });

        document.querySelector(".theme-toggle").addEventListener("click", () => {
            toggleLocalStorage();
            toggleRootClass();
        });

        function toggleRootClass() {
            const current = document.documentElement.getAttribute('data-bs-theme');
            const inverted = current == 'dark' ? 'light' : 'dark';
            document.documentElement.setAttribute('data-bs-theme', inverted);
        }

        function toggleLocalStorage() {
            if (isLight()) {
                localStorage.removeItem("light");
            } else {
                localStorage.setItem("light", "set");
            }
        }

        function isLight() {
            return localStorage.getItem("light");
        }

        if (isLight()) {
            toggleRootClass();
        }
    </script>
</body>

</html>