<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hướng dẫn đăng ký</title>
</head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="./css/dashboard.css">
<body>
	<div th:replace="/dashboard/menu_dashboard.html"></div>
	<div class="col-lg-8">
		<div class="container">
			<p class="fs-2 fw-bold mt-4">Hướng dẫn tạo tài khoản</p>
			<p class="fs-4 fw-bold mt-4" id="1">Bước 1:</p>
			<p>
				Ở giao diện trang chủ Divine Shop, click vào <span class="fw-bold">Đăng
					kí</span>
			</p>
			<div id="carouselExampleSlidesOnly" class="carousel slide"
				data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="/images/image.png" class="d-block w-100 rounded"
							alt="...">
					</div>
				</div>
			</div>
			<p class="fs-4 fw-bold mt-4" id="2">Bước 2:</p>
			<p>Điền đầy đủ các thông được yêu cầu:</p>
			<div id="carouselExampleSlidesOnly" class="carousel slide"
				data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="/images/image2.avif" class="d-block w-100 rounded"
							alt="...">
					</div>
				</div>
			</div>
			<div class="bg-warning p-2 text-dark bg-opacity-25 rounded mt-4">
				<p class="ms-3">
					<i class="bi bi-exclamation-circle"></i> Lưu ý:
				</p>
				<p class="">
				<ul class="ms-3">
					<li><span class="fw-bold">Tên đăng nhập (Username)</span> viết
						liền không dấu, không chứa kí tự đặc biệt. Nên viết dễ đọc dễ nhớ
						vì nó sẽ nằm trong chú pháp nạp tiền để thanh toán tại Shop.</li>
					<li><span class="fw-bold">Email</span> điền chính xác, vì các
						sản phẩm key game cũng như các thông báo qua trọng sẽ được Shop
						gửi qua email tới khách hàng.</li>
				</ul>
				</p>
			</div>
			<div class="fs-4 fw-bold mt-4" id="3">Bước 3:</div>
			<div class="mt-3">
				Click vào nút <span class="fw-bold">Tạo tài khoản</span>. Nếu thông
				tin bạn điền là chính xác và chưa tồn tại trên hệ thống, bạn sẽ được
				chuyển đến trang chủ.
			</div>
			<div class="fw-bold mt-3">Như vậy là bạn đã tạo tài khoản thành
				công và sẵn sàng mua hàng rồi đó.</div>
			<div class="bg-primary p-2 text-dark bg-opacity-25 rounded mt-5">
				<p class="mt-2">
					<i class="bi bi-exclamation-circle"></i> Ngoài ra nếu có sẵn tài
					khoản <span class="fw-bold">Google</span> hoặc <span
						class="fw-bold">Facebook</span> bạn có thể <span class="fw-bold">Đăng
						nhập/Đăng kí</span> thông qua 2 mạng xã hội trên thông qua các nút dưới
					phần <span class="fw-bold">Đăng nhập qua MXH</span>
				</p>
			</div>
			<nav aria-label="Page navigation example ">
				<ul class="pagination d-flex justify-content-between">
					<li class="page-item w-100"><a
						class="page-link btn btn-primary w-100 rounded p-3 me-3 mt-5">Previous</a>
					</li>
					<li class=" ms-3 page-item w-100"><a
						class="page-link btn btn-primary w-100 rounded p-3 mt-5" href="#">Next
					</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="col-lg-2 d-none d-lg-block border-start fixed-sidebar"
		style="border-color: black; border-width: 2px; max-height: 125px">
		<div style="font-size: 14px;">
			<a href="#1" class="step-link">Bước 1:</a> <a href="#2"
				class="step-link">Bước 2:</a> <a href="#3" class="step-link">Bước
				3:</a>
		</div>
	</div>


</body>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</html>