.three-dots {
	cursor: pointer;
	width: 40px; /* hoặc 40px */
	height: 40px; /* hoặc 40px */
	padding: 0; /* Đặt padding thành 0 */
	padding-bottom: 10px; border-radius : 50%;
	transition: background-color 0.3s;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 50%; 
}

.three-dots:hover {
	background-color: rgba(1, 123, 255, 0.1);
}
.star {
    font-size: 40px;
    color: gray; /* Mặc định là màu xám */
    cursor: pointer;
    transition: color 0.3s;
}

.star.selected {
    color: gold; /* Ngôi sao được chọn sẽ màu vàng */
}