html {
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: inherit;
}

h4 {
	font-size: 1.2rem;
	line-height: 2rem;
}

h1, h2, h3, h4, h5, strong, th {
	font-weight: 500;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
	margin: 0;
}

.no-gap {
	margin-left: -15px !important;
	margin-right: 20px !important;
}

.backg {
	background-color: #0959cc;
}

.navbg {
	background-color: #2579f3;
}

.arrow-gap {
	margin-left: 90px !important;
	margin-right: -20px !important;
}

.btn_search {
	height: 43px;
	background-color: #0959cc;
}

.form_search {
	outline: none;
	width: 380px;
	height: 40px;
	margin-left: 70px;
}

.btn_search:hover {
	opacity: 0.8;
}

.header_hover:hover {
	opacity: 0.8;
}

.caro {
	width: 100%;
}

.parent1 {
	margin-top: 8px;
}

.parent2 {
	margin-top: 20px;
}

.parent3 {
	margin-top: 8px;
}

.special-span {
	margin-top: -3px;
	/* hoặc bất kỳ giá trị nào bạn muốn */
}

.list_product:hover {
	transform: translateY(-5px);
	transition: all linear 0.3s;
}

.list_keyword:hover {
	transform: scale(1.1);
	transition: all linear 0.3s;
}

.bg-image {
	background-image:
		url(https://divineshop.vn/static/0de2668c294edf9d5fd8a8647b2c65b6.png);
	height: 100%;
	max-width: 100%;
	background-repeat: no-repeat;
	background-color: #000d21;
}

.list-inline {
	display: block;
}

.list-inline li {
	display: inline-block;
}

.list-inline li:after {
	content: '|';
	margin: 0 10px;
}

.searchbtn {
	margin-top: -0.2rem !important;
}

.hot-product {
	padding: 154px 0 35px;
}

.hot-text {
	width: 30%;
	border: 1px solid white;
	border-radius: 40px
}

.icon-payment {
	max-width: 100%;
	height: 1.75rem;
	margin: 10px;
}

.footer-btn:hover {
	color: red;
}

.btn-rebuy {
	display: flex;
	justify-content: end
}

#backtop {
	width: 50px;
	height: 50px;
	background-color: #2579f3;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: fixed;
	bottom: 40px;
	right: 20px;
	cursor: pointer;
}

/* Cart css */
.cart-details {
	text-align: center;
}

.cart-details img {
	max-width: 100%;
	height: auto;
}

.btn-banking {
	background-color: #005baa;
	color: white;
}

.btn-banking:hover {
	background-color: #005baa;
	color: white;
	opacity: 0.8;
}

.btn-momo {
	background-color: #ae2170;
	color: white;
}

.btn-momo:hover {
	background-color: #ae2170;
	color: white;
	opacity: 0.8;
}

.btn-quantity {
	color: #374151;
	text-decoration: none;
	border: 1px solid #d1d5db;
	height: 2rem;
}

.btn-quantity:hover {
	color: #374151;
	text-decoration: none;
	border: 1px solid #d1d5db;
}

.tex-sale {
	margin: 6px 0;
	font-size: 14px;
}

.ss {
	margin-top: 16px;
}

/* Update Profile Css */
.vertical-divider {
	height: 100%;
	border-left: 1px solid grey;
	/* Hoặc màu sắc và độ rộng khác */
}

.hover-underline {
	text-decoration: none;
}

.hover-underline:hover {
	text-decoration: underline;
	/* Gạch chân khi hover */
}

.text-block {
	display: block;
}

input[type="file"] {
	display: none;
}

/* Detail Product */
.img-showcase {
	display: flex;
	width: 100%;
	transition: transform 0.8s ease-in-out;
}

.img-item a img {
	width: 100%;
	height: 80px;
}

.img-select {
	width: 100%;
}

.img-item {
	width: 25%;
}

span {
	font-size: 15px;
}

.detailProduct {
	padding-left: 20px;
}

.cart-btn {
	display: flex;
}

.text-justify {
	text-align: justify;
}

@media only screen and (max-width: 1200px) {
	.parent1, .parent2 {
		margin-top: 8px;
	}
	.form_search {
		outline: none;
		width: 100%;
		height: 40px;
	}
	.text_product {
		font-size: 13px;
		margin-top: 5px !important;
	}
	.offcanvas-half {
		width: 30% !important;
	}
	.hot-text {
		width: 50%;
	}
}

@media only screen and (max-width: 992px) {
	.parent1, .parent2 {
		margin-top: 8px;
	}
	.form_search {
		outline: none;
		width: 200px;
		height: 40px;
		margin-left: 20px;
	}
	.text_product {
		font-size: 13px;
		margin-top: 5px !important;
	}
	.offcanvas-half {
		width: 40% !important;
	}
	.hot-text {
		width: 70%;
	}
}

@media only screen and (max-width: 768px) {
	.anhdd {
		margin-bottom: 0px;
		width: 100%;
		height: auto;
	}
	.parent1, .parent2 {
		margin-top: 8px;
	}
	.parent3 {
		margin-top: 8px;
	}
	.form_search {
		outline: none;
		width: 200px;
		height: 40px;
		margin-left: 10px;
	}
	.offcanvas-half {
		width: 45% !important;
	}
	.text_product {
		font-size: 13px;
		margin-top: 5px !important;
	}
	.caro {
		margin-top: -10px !important;
	}
	.special-span {
		margin-top: 7px !important;
		/* hoặc bất kỳ giá trị nào bạn muốn */
		display: block;
		max-width: 60px;
		max-height: 70px;
	}
	.noibat {
		margin-top: 10px !important;
	}
	.wrapper {
		width: 100%;
		background-size: cover;
	}
	.hot-text {
		width: 90%;
	}

	/* Cart Css */
	.product-name {
		margin-top: 10px;
	}
	.product-content {
		padding: 0;
	}
	.product-qty {
		margin-left: 12px;
	}
	.ss {
		margin-top: 0;
	}

	/* Detail Product */
	.detailProduct {
		padding-left: 0px;
	}

	/* Other */
	.btn-rebuy {
		display: flex;
		justify-content: start;
	}
}

@media only screen and (max-width: 576px) {
	.parent1, .parent2 {
		margin-top: 8px;
	}
	.parent3 {
		margin-top: 16px;
	}
	.form_search {
		outline: none;
		width: 160px;
		height: 40px;
		margin-left: 0;
	}
	.text_product {
		font-size: 10px;
		margin-top: 2px !important;
	}
	.offcanvas-half {
		width: 80% !important;
	}

	/* Detail Product */
	.detailProduct {
		padding-left: 0px;
	}
	.cart-btn {
		display: flex;
		justify-content: center;
	}
}

.icon-search {
	font-size: 1.6rem; /* Điều chỉnh kích thước icon tìm kiếm */
}