<div class="container mt-4">
	<h3 class="fw-bold">Danh Mục Sản Phẩm</h3>
	<div class="row mt-3">
		<div class="col-md-2 col-12 fill">
			<select class="form-select" aria-label="Default select example">
				<option selected>Danh Mục</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
		<div class="col-md-2 col-12 fill">
			<select class="form-select" aria-label="Default select example">
				<option selected>Thể Loại</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
		<div class="col-md-5 col-12 fill">
			<form action="/product/searchgia" method="post"
				class="d-flex justify-content-between giatien">
				<span style="font-weight: 500;"
					class="text-nowrap mt-2 me-2 d-sm-block d-none">Mức Giá</span>
				<div class="form-group me-2">
					<input name="min" value="${param.min}" placeholder="Min Price?"
						class="form-control">
				</div>
				<span class="mt-2 me-2 d-sm-block d-none">-</span>
				<div class="form-group">
					<input name="max" value="${param.max}" placeholder="Max Price?"
						class="form-control">
				</div>
				<button class="btn btn-primary" style="display: none;">
					<i class="bi bi-funnel"></i> Lọc
				</button>
			</form>
		</div>
		<div class="col-md-2 col-12 fill">
			<select class="form-select" aria-label="Default select example">
				<option selected>Sắp xếp</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
		<div class="col-md-1 col-12 fill">
			<button type="button" class="btn btn-primary">
				<i class="bi bi-funnel"></i> Lọc
			</button>
		</div>
	</div>
</div>

<div class="container mt-4">
	<div class="row">
		<div class="col-lg-3 col-md-4 col-6 list_product">
			<a href=""> <img src="./images/black myth wukong-13641.jpg"
				class="img-fluid mt-2 rounded" alt="Right Image 2" width="100%">
			</a> <a href="" class="d-block mt-2 text_product">Black Myth: Wukong
				Black Black Myth: Wukong Black</a>
			<h6 class="mt-2 mb-3 d-flex align-items-center fw-bold text_product">
				122.000.000đ<strike class="mx-2 text-secondary">221.000.000đ</strike><span
					class="badge text-bg-danger text-white p-2">-62%</span>
			</h6>
		</div>
		<div class="col-lg-3 col-md-4 col-6 list_product">
			<a href=""> <img src="./images/black myth wukong-13641.jpg"
				class="img-fluid mt-2 rounded" alt="Right Image 2" width="100%">
			</a> <a href="" class="d-block mt-2 text_product">Black Myth: Wukong
				Black Black Myth: Wukong Black</a>
			<h6 class="mt-2 mb-3 d-flex align-items-center fw-bold text_product">
				122.000.000đ<strike class="mx-2 text-secondary">221.000.000đ</strike><span
					class="badge text-bg-danger text-white p-2">-62%</span>
			</h6>
		</div>
		<div class="col-lg-3 col-md-4 col-6 list_product">
			<a href=""> <img src="./images/black myth wukong-13641.jpg"
				class="img-fluid mt-2 rounded" alt="Right Image 2" width="100%">
			</a> <a href="" class="d-block mt-2 text_product">Black Myth: Wukong
				Black Black Myth: Wukong Black</a>
			<h6 class="mt-2 mb-3 d-flex align-items-center fw-bold text_product">
				122.000.000đ<strike class="mx-2 text-secondary">221.000.000đ</strike><span
					class="badge text-bg-danger text-white p-2">-62%</span>
			</h6>
		</div>
		<div class="col-lg-3 col-md-4 col-6 list_product">
			<a href=""> <img src="./images/black myth wukong-13641.jpg"
				class="img-fluid mt-2 rounded" alt="Right Image 2" width="100%">
			</a> <a href="" class="d-block mt-2 text_product">Black Myth: Wukong
				Black Black Myth: Wukong Black</a>
			<h6 class="mt-2 mb-3 d-flex align-items-center fw-bold text_product">
				122.000.000đ<strike class="mx-2 text-secondary">221.000.000đ</strike><span
					class="badge text-bg-danger text-white p-2">-62%</span>
			</h6>
		</div>
	</div>
</div>
<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center mt-4">
		<li class="page-item"><a class="page-link"
			href="/product/page?p=0">First</a></li>
		<li class="page-item"><a class="page-link"
			href="/product/page?p=${(listproduct.number-1<0)?0:listproduct.number-1}">Previous</a></li>
		<li class="page-item"><a class="page-link"
			href="/product/page?p=${(listproduct.number+1>listproduct.totalPages-1)?listproduct.totalPages-1:listproduct.number+1}">Next</a>
		</li>
		<li class="page-item"><a class="page-link"
			href="/product/page?p=${listproduct.totalPages-1}">Last</a></li>
	</ul>
</nav>
<br>
<br>
<!-- <%@include file="footer.jsp"%> -->
</body>