<div class="container mt-4">
	<div th:replace="~{/update_profile/settingupdate.html}"></div>
	<div class="col-xl-9 col-lg-9 col-md-12 rounded"
		th:if="${session.order != null}" th:object="${session.order}">
		<div class="container">
			<h5 class="fw-bold mb-2">Chi tiết đơn hàng [[*{'#' + id}]]</h5>
			<span style="display: block;">Hiển thị thông tin các sản phẩm
				bạn đã mua tại CLAZ</span>
			<hr class="my-3">

			<div class="row">
				<div class="col-md-5">
					<div>
						<h6>Thông tin đơn hàng</h6>
						<div class="my-2">
							<span style="display: block;" class="mt-2">Mã đơn hàng:
								[[*{'#' + id}]]</span> <span style="display: block;" class="mt-2">Ngày
								tạo:
								[[*{created_at.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy
								HH:mm:ss'))}]]</span> <span style="display: block;" class="mt-2">Trạng
								thái đơn hàng: <span class="text-danger fw-bold"
								th:if="*{status == 'Đã được hủy'}">[[*{status}]]</span> <span
								class="text-warning fw-bold" th:if="*{status == 'Đang xử lý'}">[[*{status}]]</span>
								<span class="text-success fw-bold"
								th:if="*{status == 'Đã xử lý'}">[[*{status}]]</span>
							</span> <span style="display: block;" class="mt-2">Người nhận:
								[[*{customer.email}]]</span>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div>
						<span class="fw-bold">Giá trị đơn hàng</span>
					</div>
					<div class="d-flex justify-content-between">
						<span>Tổng giá trị đơn hàng</span> <span
							th:text="${#numbers.formatDecimal(totalAmount, 0,
							'COMMA', 0, 'POINT') + 'đ'}"></span>
					</div>
				</div>
			</div>
			<hr class="my-3">
		</div>

		<div class="mb-4" th:each="detail : ${roundedOrderDetails}">
			<div class="row">
				<div class="col-md-3 py-1">
					<img th:src="@{'/images/'+ ${detail.product.image}}"
						class="img-fluid rounded" alt="Steam Random Code"
						style="width: 100%;">
				</div>
				<div class="col-md-9">
					<div class="row">
						<h6 class="col-md-6 py-1">
							<a th:href="${detail.product.id}">[[${detail.product.name}]]</a>
						</h6>
						<div class="col-md-6 py-1 d-flex justify-content-between">
							<h6>Số lượng: [[${detail.quantity}]]</h6>
							<h6>[[${#numbers.formatDecimal(detail.price, 0, 'COMMA', 0,
								'POINT')}]]đ</h6>
						</div>
					</div>

					<div class="mt-2">
						<div class="d-flex justify-content-between align-items-end">
							<span th:if="${detail.order.status == 'Đã xử lý'}">Key nhập</span> <a
								th:href="${detail.product.id}" class="btn btn-outline-warning">
								<i class="bi bi-cart3"></i> Mua lại đơn hàng
							</a>
						</div>

						<div class="row mt-1" th:if="${detail.order.status == 'Đã xử lý'}">
							<div class="col-xl-7 col-lg-6 col-md-6 my-1">
								<div class="input-group">
									<button class="btn btn-primary" type="button"
										onclick="copyToClipboard()">
										<i class="fa-regular fa-copy"></i>
									</button>
									<input type="text" class="form-control"
										th:value="${detail.keyProduct}" id="keyProductInput"
										onclick="copyToClipboard()" readonly>
								</div>
								<small class="text-muted"><i
									class="bi bi-question-circle-fill"></i> Click vào text để copy
									từng phần</small>
							</div>
							<div class="col-xl-5 col-lg-6 col-md-6 col-12 my-1">
								<a href="" class="w-100 btn btn-outline-primary">Hướng dẫn
									nhập key</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>