<div class="container">
	<div th:replace="~{/update_profile/settingupdate.html}"></div>
	<div class="col-xl-9 col-lg-9 col-md-12 rounded"
		style="background-color: rgb(255, 255, 255);">
		<div class="row m-1">
			<div class="row mt-3">
				<p class="">
					<Strong>Sản phẩm yêu thích</Strong> <span style="display: block;">Danh
						sách các sản phẩm mà bạn đã đánh dấu "yêu thích"</span>
				</p>
				<hr>
				<div class="col-md-4 col-8 mt-2">
					<div class="form-floating">
						<img src="/images/4e0db8ffb1e9cac7c7bc91d497753a2c.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>