<div class="container mt-4">
	<div th:replace="~{/update_profile/settingupdate.html}"></div>
	<div class="col-xl-9 col-lg-9 col-md-12 rounded"
		style="background-color: rgb(255, 255, 255);">
		<div class="container">
			<h5 class="fw-bold">Lịch sử đơn hàng</h5>
			<span style="display: block;">Hiển thị thông tin các sản phẩm
				bạn đã mua tại CLAZ</span>
			<hr class="my-3">
		</div>

		<div class="row container">

			<div class="col-xl-2 col-lg-4 col-md-4 col-12 mt-2">
				<div class="form-floating">
					<input type="text" class="form-control" id="pwd"
						placeholder="Enter password" name="pswd"> <label for="pwd">Mã
						đơn hàng</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="text" class="form-control" id="stt"
						placeholder="Enter password" name="pswd"> <label for="stt">Số
						tiền từ</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="text" class="form-control" id="std"
						placeholder="Enter password" name="pswd"> <label for="std">Số
						tiền đến</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="date" class="form-control" id="tn" name="pswd">
					<label for="tn">Từ ngày</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="date" class="form-control" id="dn" name="pswd">
					<label for="dn">Đến ngày</label>
				</div>
			</div>
			<div
				class="col-xl-2 col-lg-4 col-md-4 col-12 d-flex align-items-center">
				<button type="button" class="btn btn-primary mt-2">
					<i class="bi bi-funnel"></i> Lọc
				</button>
			</div>
		</div>
		<div class="container">
			<table class="table table-bordered mt-2 ">
				<thead>
					<tr class="align-middle">
						<th>Thời gian</th>
						<th>Mã đơn hàng</th>
						<th>Sản phẩm</th>
						<th>Tổng tiền</th>
						<th>Trạng thái</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2024-10-02 14:59:34</td>
						<td>7416909</td>
						<td class="d-flex justify-content-between">Random Code Steam
							<span>x1</span>
						</td>
						<td>9.000đ</td>
						<td class="text-success">Đã xử lý</td>
						<td><a href="" class="text-decoration-none text-primary">Chi tiết</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
</div>