<div class="container mt-4">
	<div th:replace="~{/update_profile/settingupdate.html}"></div>
	<div class="col-xl-9 col-lg-9 col-md-12 rounded"
		style="background-color: rgb(255, 255, 255);">
		<div class="container">
			<h5 class="fw-bold">Lịch sử đơn hàng</h5>
			<span style="display: block;">Hiển thị thông tin các sản phẩm
				bạn đã mua tại CLAZ</span>
			<hr class="my-3">
		</div>

		<form action="/filterOrder" method="post" class="row container">

			<div class="col-xl-2 col-lg-4 col-md-4 col-12 mt-2">
				<div class="form-floating">
					<input type="text" class="form-control" id="orderId" name="orderId">
					<label for="orderId">Mã đơn hàng</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="number" min="0" step="10000" class="form-control"
						id="amountFrom" name="amountFrom"> <label for="amountFrom">Số
						tiền từ</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="number" min="0" step="10000" class="form-control"
						id="amountTo" name="amountTo"> <label for="amountTo">Số
						tiền đến</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="date" class="form-control" id="fromDate"
						name="fromDate"> <label for="fromDate">Từ ngày</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="date" class="form-control" id="toDate" name="toDate">
					<label for="toDate">Đến ngày</label>
				</div>
			</div>
			<div
				class="col-xl-2 col-lg-4 col-md-4 col-12 d-flex align-items-center">
				<button type="submit" class="btn btn-primary mt-2">
					<i class="bi bi-funnel"></i> Lọc
				</button>
			</div>
		</form>

		<div class="container">
			<table class="table table-bordered mt-2 ">
				<thead>
					<tr class="align-middle">
						<th>Thời gian</th>
						<th>Mã đơn hàng</th>
						<th>Sản phẩm</th>
						<th>Tổng tiền</th>
						<th>Trạng thái</th>
						<th>Khác</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order : ${session.orders}">
						<td
							th:text="${order.created_at.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy HH:mm:ss'))}"></td>
						<td th:text="${'#' + order.id}"></td>
						<td>
							<div class="d-flex justify-content-between"
								th:if="${order.orderDetails != null && !order.orderDetails.isEmpty()}"
								th:each="detail : ${order.orderDetails}" th:object="${detail}">
								<span th:text="${detail.product.name}"></span> <span>x<span
									th:text="${detail.quantity}"></span></span>
							</div>
							<div
								th:if="${order.orderDetails == null || order.orderDetails.isEmpty()}"
								class="text-danger">Sản phẩm đã bị xóa khỏi trang web</div>
						</td>
						<td><span th:if="${order.amount > 0}"
							th:text="${#numbers.formatDecimal(order.amount / 100, 0,
							'COMMA', 0, 'POINT') + 'đ'}"></span>
							<div class="d-flex justify-content-between"
								th:if="${order.orderDetails != null && !order.orderDetails.isEmpty() && order.amount == 0}"
								th:each="detail : ${order.orderDetails}" th:object="${detail}">
								<span
									th:text="${#numbers.formatDecimal((detail.product.price * (1 - detail.product.discount / 100)) * detail.quantity, 0,
							'COMMA', 0, 'POINT') + 'đ'}"></span>
							</div></td>
						<td><span class="text-danger"
							th:if="${order.status == 'Đã được hủy'}"
							th:text="${order.status}"></span> <span class="text-success"
							th:if="${order.status == 'Đã xử lý'}" th:text="${order.status}"></span>
						</td>
						<td><a th:href="@{'/detail_profile?id='+ ${order.id}}"
							class="text-decoration-none text-primary">Chi tiết</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
</div>