
<div class="container mt-4">
	<div th:replace="~{/update_profile/settingupdate.html}"></div>
	<div class="col-xl-9 col-lg-9 col-md-12 rounded"
		style="background-color: rgb(255, 255, 255);">
		<div class="container">
			<h5 class="fw-bold">Mật khẩu & Bảo mật</h5>
			<span style="display: block;">Vì sự an toàn, CLAZ khuyến khích
				khách hàng sử dụng mật khẩu mạnh và bảo mật hai lớp</span>
			<hr class="my-3">
		</div>

		<div class="container row">
			<div class="col-md-5">
				<h5>Đổi mật khẩu</h5>
				<form>
					<div class="mb-3">
						<label for="newPassword" class="form-label">Mật khẩu mới</label> <input
							type="password" class="form-control" id="newPassword"
							placeholder="Mật khẩu mới">
					</div>
					<div class="mb-3">
						<label for="confirmPassword" class="form-label">Nhập lại
							mật khẩu mới</label> <input type="password" class="form-control"
							id="confirmPassword" placeholder="Nhập lại mật khẩu mới">
					</div>
					<button type="submit" class="btn btn-primary mb-3">Lưu
						thay đổi</button>
				</form>
			</div>

			<div class="col-md-1 d-none d-md-block pb-3">
				<div class="vertical-divider"></div>
			</div>

			<div class="col-md-6 d-flex align-items-center">
				<div>
					<h5>Mật khẩu của bạn</h5>
					<ul class="list-unstyled">
						<li>Phải từ 8 ký tự trở lên</li>
						<li>Nên có ít nhất 1 số hoặc 1 ký tự đặc biệt</li>
						<li>Không nên giống với mật khẩu được sử dụng gần đây</li>
					</ul>
				</div>
			</div>
			<hr class="ms-2 mb-2">
			<p class="">
				<Strong>Bảo mật hai lớp </Strong> <span style="display: block;">Sử
					dụng xác thực hai lớp giúp tài khoản của bạn an toàn hơn, tránh
					được các giao dịch được thực hiện trái phép</span>
			</p>
		</div>

		<div class="container">
			<div class=" col-sm-4 col-9 mb-3 mt-3">
				<p class="fw-bold">Xác thực khi thanh toán</p>
				<select class="form-select">
					<option value="1">Không sử dụng OTP</option>
					<option value="2">Áp dụng với mọi IP</option>
				</select>
			</div>
			<div class=" col-sm-4 col-9 mb-3 mt-3">
				<p class="fw-bold">Xác thực khi đăng nhập</p>
				<select class="form-select">
					<option value="1">Không sử dụng OTP</option>
					<option value="2">Áp dụng với mọi IP</option>
					<option value="3">Chỉ yêu cầu với IP lạ</option>
				</select>
			</div>
			<div class=" col-sm-4 col-9 mb-3 mt-3">
				<p class="fw-bold">Phương thức xác thực</p>
				<select class="form-select">
					<option value="1">Bảo mật bằng Email</option>
					<option value="2">Bảo mật bằng Google Authenticator</option>
				</select>
			</div>
			<div class=" col-sm-5 col-10 mb-3 mt-3" style="font-size: 14px;">
				<button class="btn btn-primary mt-2">Lưu thay đổi</button>
			</div>
		</div>
	</div>
</div>
</div>
</div>
