
<div class="container mt-4">
	<div th:replace="~{/update_profile/settingupdate.html}"></div>
	<div class="col-xl-9 col-lg-9 col-md-12 rounded"
		style="background-color: rgb(255, 255, 255);">
		<div class="container">
			<h5 class="fw-bold">Lịch sử giao dịch</h5>
			<span style="display: block;">Hiển thị tất cả các giao dịch
				bạn dã thực hiện tại CLAZ</span>
			<hr class="my-3">
		</div>

		<div class="row container">

			<div class="col-xl-2 col-lg-4 col-md-4 col-12 mt-2">
				<div class="form-floating">
					<input type="text" class="form-control" id="pwd"
						placeholder="Enter password" name="pswd"> <label for="pwd">Mô
						tả</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="text" class="form-control" id="stt"
						placeholder="Enter password" name="pswd"> <label for="stt">Số
						tiền từ</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="text" class="form-control" id="std"
						placeholder="Enter password" name="pswd"> <label for="std">Số
						tiền đến</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="date" class="form-control" id="tn" name="pswd">
					<label for="tn">Từ ngày</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="date" class="form-control" id="dn" name="pswd">
					<label for="dn">Đến ngày</label>
				</div>
			</div>
			<div
				class="col-xl-2 col-lg-4 col-md-4 col-12 d-flex align-items-center">
				<button type="button" class="btn btn-primary mt-2">
					<i class="bi bi-funnel"></i> Lọc
				</button>
			</div>
		</div>
		<div class="container">
			<table class="table table-bordered mt-2 ">
				<thead>
					<tr class="align-middle">
						<th>Thời gian</th>
						<th>Mô tả</th>
						<th>Số tiền</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order : ${session.order}">
						<td
							th:text="${order.created_at.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy HH:mm:ss'))}"></td>
						<td
							th:text="${order.paymentMethod} + ' - Mã giao dịch #' + ${order.id}"></td>
						<td class="text-success"
							th:text="${#numbers.formatDecimal(order.amount / 100, 0, 'COMMA', 0, 'POINT')} + 'đ'"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
</div>