
<div class="container mt-4">
	<div th:replace="~{/update_profile/settingupdate.html}"></div>
	<div class="col-xl-9 col-lg-9 col-md-12 rounded"
		style="background-color: rgb(255, 255, 255);">
		<div class="container">
			<h5 class="fw-bold">Lịch sử giao dịch</h5>
			<span style="display: block;">Hiển thị tất cả các giao dịch
				bạn dã thực hiện tại CLAZ</span>
			<hr class="my-3">
		</div>

		<form action="/filterPayment" method="post" class="row container">

			<div class="col-xl-2 col-lg-4 col-md-4 col-12 mt-2">
				<div class="form-floating">
					<input type="text" class="form-control" id="paymentMethod"
						name="paymentMethod"> <label for="paymentMethod">Mô
						tả</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="number" min="0" step="10000" class="form-control"
						id="amountFrom" name="amountFrom"> <label for="amountFrom">Số
						tiền từ</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="number" min="0" step="10000" class="form-control"
						id="amountTo" name="amountTo"> <label for="amountTo">Số
						tiền đến</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="date" class="form-control" id="fromDate"
						name="fromDate"> <label for="fromDate">Từ ngày</label>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-4 col-6 mt-2">
				<div class="form-floating">
					<input type="date" class="form-control" id="toDate" name="toDate">
					<label for="toDate">Đến ngày</label>
				</div>
			</div>
			<div
				class="col-xl-2 col-lg-4 col-md-4 col-12 d-flex align-items-center">
				<button type="submit" class="btn btn-primary mt-2">
					<i class="bi bi-funnel"></i> Lọc
				</button>
			</div>
		</form>

		<div class="container">
			<table class="table table-bordered mt-2 ">
				<thead>
					<tr class="align-middle">
						<th>Thời gian</th>
						<th>Mô tả</th>
						<th>Số tiền</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order : ${session.orders}">
						<td
							th:text="${order.created_at.format(T(java.time.format.DateTimeFormatter).ofPattern('dd/MM/yyyy HH:mm:ss'))}"></td>
						<td
							th:text="${order.paymentMethod} + ' - Mã giao dịch #' + ${order.id}"></td>
						<td class="text-success"
							th:text="${#numbers.formatDecimal(order.amount / 100, 0, 'COMMA', 0, 'POINT')} + 'đ'"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="text-center my-4"
			th:if="${#lists.isEmpty(session.orders)}">
			<h2 class="h4 font-bold mb-2 text-danger">Không có giao dịch phù
				hợp với tìm kiếm!</h2>
		</div>
	</div>
</div>
</div>
</div>