<div xmlns="http://www.thymeleaf.org">
	<div class="col-md-12 d-block d-lg-none text-center"
		style="background-color: rgb(255, 255, 255);">
		<hr>
		<a href="/account" class="text-decoration-none text-black text-black">
			<i class="fa fa-user fs-3 m-2"></i>
		</a> <a href="/order" class="text-decoration-none text-black"> <i
			class="fa fa-shopping-cart fs-3 m-2"></i>
		</a> <a href="/payment" class="text-decoration-none text-black"> <i
			class="fa fa-credit-card fs-3 m-2"></i>
		</a> <a href="/password" class="text-decoration-none text-black"> <i
			class="fa fa-lock fs-3 m-2"></i>
		</a> <a href="/comment" class="text-decoration-none text-black"> <i
			class="fa fa-comment fs-3 m-2"></i>
		</a> <a href="/favorite" class="text-decoration-none text-black"> <i
			class="fa fa-heart fs-3 m-2"></i>
		</a> <a href="/introduct" class="text-decoration-none text-black"> <i
			class="fa fa-share-alt fs-3 m-2"></i>
		</a>
		<hr>
	</div>
	<div class="row">
		<div class="col-xl-3 col-lg-3 d-none d-lg-block">
			<div class="list-group">
				<a href="/account"
					class="list-group-item list-group-item-action py-3 px-4"> <i
					class="fa fa-user"></i> Tài khoản
				</a> <a href="/order"
					class="list-group-item list-group-item-action py-3 px-4"> <i
					class="fa fa-shopping-cart"></i> Lịch sử đơn hàng
				</a> <a href="/payment"
					class="list-group-item list-group-item-action py-3 px-4"> <i
					class="fa fa-credit-card"></i> Lịch sử giao dịch
				</a> <a href="/password"
					class="list-group-item list-group-item-action py-3 px-4 text-truncate">
					<i class="fa fa-lock"></i> Mật khẩu và bảo mật
				</a> <a href="/comment"
					class="list-group-item list-group-item-action py-3 px-4"> <i
					class="fa fa-comment"></i> Bình luận của tôi
				</a> <a href="/favorite"
					class="list-group-item list-group-item-action py-3 px-4"> <i
					class="fa fa-heart"></i> Sản phẩm yêu thích
				</a> <a href="/introduct"
					class="list-group-item list-group-item-action py-3 px-4"> <i
					class="fa fa-share-alt"></i> Giới thiệu bạn bè
				</a>
			</div>
		</div>